<%= render :partial => "common_partial/header", :locals => {:title => "회원가입", :sub_title => "당신을 애타게 기다리고 있었답니다", :sub_icon => "fa-heart"} %>

<div id="login_screen">
  <p class="chat_bubble" style="margin-bottom:15px;">
    <% if resource.facebook_id.blank? %>
      회원가입하시면 당신만의 고민을 털어놓을 수 있어요.<br>
      투표나 의견도 마음껏 참여하실 수 있고, 나만의 히스토리도 남길 수 있어요.<br>
      어서 VASKIT하러 가자구요! 현기증 난단 말이에요~
    <% else %>
      페이스북에서 전달받지 못한 추가 입력정보를 입력하는 단계입니다.<br>
      투표 결과의 통계 분석을 위해 연령, 성별 정보를 필요로 하니 양해 부탁드립니다.<br>
      어서 VASKIT하러 가자구요! 현기증 난단 말이에요~
    <% end %>
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_form"}) do |f| %>
  	<%= devise_error_messages! %>
  	<div class="content_box" style="padding:10px; margin:0px 12px 15px; text-align:left;">
  		<% if resource.facebook_id.blank? %>
        <div style="position:relative;">
  			  <%= f.email_field :email, autofocus: true, :placeholder => "가입하실 이메일주소를 입력해주세요", :class => "registrations_input" %>
          <span class="input_icon left_input" onclick="$('#user_email').focus(); return false;"><i class="fa fa-envelope-o"></i></span>
          <span id="email_checker" style="position: absolute; top: 0; right: 5px; width: 20px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #cbcbcb;"></span>
          <div class="tooltip_area" style="margin-left:50px;"><div class="tooltip_arrow bottom"></div><div class="tooltip_content"></div></div>
        </div>
        <div style="position:relative;">
  			  <%= f.password_field :password, :placeholder => "설정하실 비밀번호를 입력해주세요", :class => "registrations_input" %>
          <span class="input_icon left_input" onclick="$('#user_password').focus(); return false;"><i class="fa fa-key"></i></span>
          <span id="password_checker" style="position: absolute; top: 0; right: 5px; width: 20px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #cbcbcb;"></span>
          <div class="tooltip_area" style="margin-left:50px;"><div class="tooltip_arrow bottom"></div><div class="tooltip_content"></div></div>
        </div>
        <div style="position:relative;">
          <%= f.password_field :password_confirmation, :placeholder => "입력하신 비밀번호를 확인해주세요", :class => "registrations_input" %>
          <span class="input_icon left_input" onclick="$('#user_password_confirmation').focus(); return false;"><i class="fa fa-check"></i></span>
          <span id="password_confirmation_checker" style="position: absolute; top: 0; right: 5px; width: 20px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #cbcbcb;"></span>
          <div class="tooltip_area" style="margin-left:50px;"><div class="tooltip_arrow bottom"></div><div class="tooltip_content"></div></div>
        </div>
        <p style="margin: 10px 0; text-align: center; color: #9d9ea1; font-size: 13px;">
          <i class="fa fa-plus"></i>&nbsp;추가 입력정보
        </p>
  			<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-bottom:0px;">
  				<tr>
  					<td style="width:100%; position:relative;">
  						<%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
              <span class="input_icon left_input" style="top: 0px; font-size: 10px; font-weight: bold;">YEAR</span>
              <span class="input_icon left_input" style="top: 50px; font-size: 10px; font-weight: bold;">MONTH</span>
              <span class="input_icon left_input" style="top: 100px; font-size: 10px; font-weight: bold;">DAY</span>
  					</td>
  				</tr>
  			</table>
        <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:10px;">
  				<tr>
  					<td style="width:50%; text-align:left;">
  						<a id="gender_male" href="#" onclick="select_gender(1); return false;">
                <i class="fa fa-male"></i>&nbsp;남성
  						</a>
            </td>
            <td style="width:50%; text-align:right;">
  						<a id ="gender_female" href="#" onclick="select_gender(0); return false;">
  							<i class="fa fa-female"></i>&nbsp;여성
  						</a>
  					</td>
  				</tr>
  			</table>
        <p style="margin:20px 0 0 0; font-size:12px; text-align:left; color:#9d9ea1;">
          <span style="display:inline-block; vertical-align:middle;">
            <a id="agree_access_term_btn" href="#" onclick="access_term_agree(); return false;">
      				<i class="fa fa-square" style="font-size: 14px; color: #ffe4a9; text-shadow: 1px 1px 0 #ffcc5a; margin-right:5px;"></i>
      			</a>
          </span>
          <a href="#" onclick="window.open('/etc/access_term', 'VASKIT 이용약관', 'width=500, height=800'); return false;" style="color:#9d9ea1; font-weight:bold; border-bottom:1px solid #dbdbdb;">이용약관</a> 및
      		<a href="#" onclick="window.open('/etc/privacy_policy', 'VASKIT 개인정보취급정책', 'width=500, height=800'); return false;" style="color:#9d9ea1; font-weight:bold; border-bottom:1px solid #dbdbdb;">개인정보취급정책</a>에 동의합니다
        </p>
  			<a id="register_btn" href="#" onclick="sign_up_submit(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#9d9ea1; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px; transition:all .3s;">
  				<i class="fa fa-users"></i>&nbsp;회원가입
  			</a>
        <div style="display:none;">
          <%= f.check_box :agree_access_term, {:checked=>false} %>
       		<%= f.hidden_field :facebook_id %>
       		<%= f.hidden_field :name %>
       		<%= f.hidden_field :gender %>
        </div>
  		<% else %>
  			<% if resource.email.blank? %>
          <div style="position:relative;">
            <%= f.email_field :email, autofocus: true, :placeholder => "가입하실 이메일주소를 입력해주세요", :class => "registrations_input" %>
            <span class="input_icon left_input" onclick="$('#user_email').focus(); return false;"><i class="fa fa-envelope-o"></i></span>
            <span id="email_checker" style="position: absolute; top: 0; right: 5px; width: 20px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #cbcbcb;"></span>
            <div class="tooltip_area" style="margin-left:50px;"><div class="tooltip_arrow bottom"></div><div class="tooltip_content"></div></div>
          </div>
  			<% else %>
  				<%= f.hidden_field :email %>
  			<% end %>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
        <% if resource.birthday.blank? || (resource.gender != true && resource.gender != false) %>
          <p style="margin: 10px 0; text-align: center; color: #9d9ea1; font-size: 13px;">
            <i class="fa fa-plus"></i>&nbsp;추가 입력정보
          </p>
        <% end %>
  			<% if resource.birthday.blank? %>
          <table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-bottom:0px;">
            <tr>
              <td style="width:100%; position:relative;">
                <%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
                <span class="input_icon left_input" style="top: 0px; font-size: 10px; font-weight: bold;">YEAR</span>
                <span class="input_icon left_input" style="top: 50px; font-size: 10px; font-weight: bold;">MONTH</span>
                <span class="input_icon left_input" style="top: 100px; font-size: 10px; font-weight: bold;">DAY</span>
              </td>
            </tr>
          </table>
  			<% else %>
  				<%= f.hidden_field :birthday %>
  			<% end %>
  			<% unless resource.gender == true || resource.gender == false %>
          <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:10px;">
            <tr>
              <td style="width:50%; text-align:left;">
                <a id="gender_male" href="#" onclick="select_gender(1); return false;">
                  <i class="fa fa-male"></i>&nbsp;남성
                </a>
              </td>
              <td style="width:50%; text-align:right;">
                <a id ="gender_female" href="#" onclick="select_gender(0); return false;">
                  <i class="fa fa-female"></i>&nbsp;여성
                </a>
              </td>
            </tr>
          </table>
  	 		<% end %>
  			<a id="register_btn" href="#" onclick="sign_up_submit(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#9d9ea1; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px; transition:all .3s;">
  				<i class="fa fa-facebook"></i>&nbsp;페이스북 로그인
  			</a>
        <div style="display:none;">
          <%= f.check_box :agree_access_term, {:checked=>true} %>
       		<%= f.hidden_field :facebook_id %>
       		<%= f.hidden_field :name %>
       		<%= f.hidden_field :gender %>
        </div>
   		<% end %>
  	</div>
    <div class="content_box" style="margin:5px 12px 30px; padding:5px 10px; color:#9d9ea1; font-size:12px; text-align:left; line-height:1.5; background-color:#ededed;">
      <i class="fa fa-info-circle" style="padding-bottom: 5px; font-weight: bold;">&nbsp;걱정마세요!</i>
      <br>입력하신 생년월일 및 성별 정보는 투표의 통계분석을 위한 자료로서만 활용되며, 기타 여하한 이유로 악용되지 않습니다.
      <br>VASKIT은 고객님의 개인정보를 중요하게 여기고, 언제나 그 관리에 최선을 다하고 있습니다.
    </div>
  <% end %>
</div>

<style>
	<% if session[:view] == 'standard' %>
  	#user_birthday_1i{ width:100%; }
  	#user_birthday_2i{ width:100%; }
  	#user_birthday_3i{ width:100%; }
	<% else %>
  	#user_birthday_1i{ width:100%; }
  	#user_birthday_2i{ width:100%; }
  	#user_birthday_3i{ width:100%; }
	<% end %>
</style>

<script>
  $("#my_button").hide();

	//select박스에 년 붙여줌
	$.each($("#user_birthday_1i option"), function( index, value ) {
		value.text = value.text+"년";
	});

	//select박스에 일 붙여줌
	$.each($("#user_birthday_3i option"), function( index, value ) {
		value.text = value.text+"일";
	});

	function select_gender(gender_no){
		if(gender_no == 1){
			$("#gender_female").css("background-color", "#E4E1E0");
			$("#gender_male").css("background-color", "#0389ed");
			$("#user_gender").val("t");
      ready_to_submit();
		}else{
			$("#gender_male").css("background-color", "#E4E1E0");
			$("#gender_female").css("background-color", "#ea065e");
			$("#user_gender").val("f");
      ready_to_submit();
		}
	}

  function access_term_agree(){
    if( $("#user_agree_access_term").prop("checked") == false ) {
      $("#user_agree_access_term").prop("checked",true);
      $("#agree_access_term_btn i").removeClass("fa-square").addClass("fa-check-square").css("color","#ee6e01","text-shadow","1px 1px 0 rgba(238,110,1,0.3)");
      ready_to_submit();
    } else {
      $("#user_agree_access_term").prop("checked",false);
      $("#agree_access_term_btn i").removeClass("fa-check-square").addClass("fa-square").css("color","#ffe4a9","text-shadow","1px 1px 0 #ffcc5a");
      ready_to_submit();
    }
  }

  function email_check() {
    var tooltip_width = $("#user_email").width();
    var tooltip_area = $("#user_email").parent().find(".tooltip_area");
    var tooltip_content = $("#user_email").parent().find(".tooltip_content");
    tooltip_area.clearQueue().removeClass("tooltip_open");
    var reg = /^[0-9a-zA-Z-_.]+@[a-z0-9]+[.][a-z]{2,3}[.]?[a-z]{0,2}$/;
    if ( $("#user_email").val() == "" ) {
      $("#email_checker").html("");
    } else if ( !reg.test($("#user_email").val()) ) {
      $("#email_checker").html("<i class='fa fa-remove' style='color: red;'></i>");
    } else {
      $.ajax({
        url: "/users/check_email.json",
        type: "GET",
        data: {'user_email_input': $('#user_email').val() },
        dataType: 'json',
        error: function(){
            return false;
        },
        success: function(data){
          if (!data.is_new_email) {
            $("#email_checker").html("<i class='fa fa-exclamation-triangle' style='color: orange;'></i>");
            if ($("#user_email:focus").length == 0) email_check_tooltip();
          } else {
            $("#email_checker").html("<i class='fa fa-check' style='color: green;'></i>");
          }
        },
        beforeSend: function(){
          $("#email_checker").html("<i class='fa fa-spinner fa-spin' style='color: gray;'></i>");
        },
        complete: function(){
        }
      })
    }
  }

  function email_check_tooltip() {
    var tooltip_width = $("#user_email").width();
    var tooltip_area = $("#user_email").parent().find(".tooltip_area");
    var tooltip_content = $("#user_email").parent().find(".tooltip_content");
    if ( $("#email_checker i").hasClass("fa-exclamation-triangle") ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open");
      tooltip_content.text("이미 가입한 이메일입니다");
    } else if ( $("#email_checker i").hasClass("fa-remove") ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open");
      tooltip_content.text("이메일 형식이 아닌 것 같습니다");
    } else {
      tooltip_area.clearQueue().removeClass("tooltip_open");
    }
  }

  function password_check() {
    $("#user_password").parent().find(".tooltip_area").clearQueue().removeClass("tooltip_open");
    if ( $("#user_password").val() == "" ) {
      $("#password_checker").html("");
    } else {
      var reg = /^\S*$/
      if ( $("#user_password").val().length >= 8 && reg.test($("#user_password").val()) ) {
        $("#password_checker").html("<i class='fa fa-check' style='color: green;'></i>");
      } else if ( $("#user_password").val().length >= 4 && reg.test($("#user_password").val()) ) {
        $("#password_checker").html("<i class='fa fa-exclamation-triangle' style='color: orange;'></i>");
      }  else {
        $("#password_checker").html("<i class='fa fa-remove' style='color: red;'></i>");
      }
    }
  }

  function password_check_tooltip() {
    var tooltip_width = $("#user_password").width();
    var tooltip_area = $("#user_password").parent().find(".tooltip_area");
    var tooltip_content = $("#user_password").parent().find(".tooltip_content");
    if ( $("#user_password").val() == "" ) {
      tooltip_area.clearQueue().removeClass("tooltip_open");
    } else if ( $("#user_password").val().length < 8 ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open");
      tooltip_content.text("비밀번호는 8자리 이상으로 설정해주세요");
    }
  }

  function password_confirmation_check() {
    $("#user_password_confirmation").parent().find(".tooltip_area").clearQueue().removeClass("tooltip_open");
    if ( $("#user_password_confirmation").val() == "" ) {
      $("#password_confirmation_checker").html("");
    } else {
      if ( $("#user_password").val() != "" || $("#user_password_confirmation").val() != "" ) {
        if ( $("#user_password").val() == $("#user_password_confirmation").val() ) {
          $("#password_confirmation_checker").html("<i class='fa fa-check' style='color: green;'></i>");
        } else {
          $("#password_confirmation_checker").html("<i class='fa fa-remove' style='color: red;'></i>");
        }
      }
    }
  }

  function password_confirmation_check_tooltip() {
    var tooltip_width = $("#user_password_confirmation").width();
    var tooltip_area = $("#user_password_confirmation").parent().find(".tooltip_area");
    var tooltip_content = $("#user_password_confirmation").parent().find(".tooltip_content");
    if ( $("#user_password_confirmation").val() == "" ) {
      tooltip_area.clearQueue().removeClass("tooltip_open");
    } else if ( $("#user_password").val() != $("#user_password_confirmation").val()  ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open");
      tooltip_content.text("입력하신 비밀번호가 일치하지 않습니다");
    }
  }

  $("#user_birthday_1i, #user_birthday_2i, #user_birthday_3i").find("option:eq(0)").attr("disabled",true);
	$("#user_birthday_1i, #user_birthday_2i, #user_birthday_3i").one("focus",function(){ $(this).css("color","#666"); });

  function ready_to_submit() {
    if (
      <% if resource.facebook_id.blank? %>
        $("#user_email").val() != "" && $("#user_password").val() != "" && $("#user_password").val().length >= 8 && $("#user_password").val() == $("#user_password_confirmation").val()
        && $("#user_birthday_1i").val() != null && $("#user_birthday_2i").val() != null && $("#user_birthday_3i").val() != null && $("#user_gender").val() != "" && $("#user_agree_access_term").prop("checked") == true
      <% else %>
        $("#user_email").val() != "" &&
        <% if resource.birthday.blank? %>
          $("#user_birthday_1i").val() != null && $("#user_birthday_2i").val() != null && $("#user_birthday_3i").val() != null
        <% else %>
          $("#user_birthday").val() != ""
        <% end %>
        && $("#user_gender").val() != ""
      <% end %>
    ) {
      <% if resource.facebook_id.blank? %>
        $("#register_btn").css("background-color","#f18b33");
      <% else %>
        $("#register_btn").css("background-color","#4267b2");
      <% end %>
    } else {
      $("#register_btn").css("background-color","#9d9ea1");
    }
  }
  ready_to_submit();

  $("#user_email").attr("onkeyup","email_check(); ready_to_submit(); return false;");
  $("#user_email").attr("onblur","email_check(); email_check_tooltip(); ready_to_submit(); return false;");
  $("#user_password").attr("onkeyup","password_check(); password_confirmation_check(); ready_to_submit(); return false;");
  $("#user_password").attr("onblur","password_check_tooltip(); ready_to_submit(); return false;");
  $("#user_password_confirmation").attr("onkeyup","password_confirmation_check(); ready_to_submit(); return false;");
  $("#user_password_confirmation").attr("onblur","password_confirmation_check_tooltip(); ready_to_submit(); return false;");
  $("#sign_up_form").on("change",function(){ ready_to_submit(); })

	function sign_up_submit(){ //submit 전에 value 체크
    <% if resource.facebook_id.blank? %>
  		if ($("#user_email").val() == ""){
  			notify('이메일을 입력해주세요');
        $("#user_email").focus().select();
  			return;
  		} else if ($("#email_checker i").hasClass("fa-exclamation-triangle")) {
        notify('이메일을 확인해 주세요');
  			$("#user_email").focus().select();
        return false;
      }
  		if ($("#user_password").val() == ""){
  			notify('비밀번호를 입력해주세요');
        $("#user_password").focus().select();
  			return;
  		}
      if ($("#user_password").val() != $("#user_password_confirmation").val()){
  			notify('비밀번호를 확인해주세요');
        $("#user_password_confirmation").focus().select();
  			return;
  		}
      if ($("#user_birthday_1i").val() == null){
        notify('생년월일을 입력해주세요');
        $("#user_birthday_1i").focus().select();
        return;
      }
      if ($("#user_birthday_2i").val() == null){
        notify('생년월일을 입력해주세요');
        $("#user_birthday_2i").focus().select();
        return;
      }
      if ($("#user_birthday_3i").val() == null){
        notify('생년월일을 입력해주세요');
        $("#user_birthday_3i").focus().select();
        return;
      }

  		if ($("#user_gender").val() == ""){
  			notify('성별을 선택해주세요');
  			return;
  		}
  		if ( $("#user_agree_access_term").prop("checked") !== true ){
  			notify('회원약관에 동의해주세요');
  			return;
  		}
    <% else %>
      <% if resource.email.blank? %>
        if ($("#user_email").val() == ""){
          notify('이메일을 입력해주세요');
          $("#user_email").focus().select();
          return;
        }
      <% end %>
      <% if resource.birthday.blank? %>
        if ($("#user_birthday_1i").val() == null){
          notify('생년월일을 입력해주세요');
          $("#user_birthday_1i").focus().select();
          return;
        }
        if ($("#user_birthday_2i").val() == null){
          notify('생년월일을 입력해주세요');
          $("#user_birthday_2i").focus().select();
          return;
        }
        if ($("#user_birthday_3i").val() == null){
          notify('생년월일을 입력해주세요');
          $("#user_birthday_3i").focus().select();
          return;
        }
      <% end %>
      <% unless resource.gender == true || resource.gender == false %>
        if ($("#user_gender").val() == ""){
          notify('성별을 선택해주세요');
          return;
        }
      <% end %>
    <% end %>

		$("#sign_up_form").submit();
	}

</script>
