<%= render :partial => "common_partial/header", :locals => {:title => "질문 종료하기", :sub_title => "당신의 구매이력을 남겨보세요", :sub_icon => "fa-shopping-cart"} %>

<p class="chat_bubble" style="margin:12px;">
	<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님, 투표 결과는 만족스러우셨나요?<br />
	만족도 별점과 함께 고객님께서 구매를 결정한 제품을 알려주시면 서비스 개선에 큰 도움이 됩니다.
</p>
<span style="display:block; color:#9d9ea1; font-size:12px; padding-top:5px;">VASKIT 투표의 만족도를 알려주세요!&nbsp;<i class="fa fa-smile-o"></i></span>
<div class="star_rating_wrap table_div" style="margin:5px 12px 12px;">
	<ul>
		<li data-value="1"><i class="fa fa-star-o"></i></li>
		<li data-value="2"><i class="fa fa-star-o"></i></li>
		<li data-value="3"><i class="fa fa-star-o"></i></li>
		<li data-value="4"><i class="fa fa-star-o"></i></li>
		<li data-value="5"><i class="fa fa-star-o"></i></li>
	</ul>
</div>
<span style="display:block; color:#9d9ea1; font-size:12px; padding-top:5px;">이미지를 눌러 구매 결정제품을 선택해 주세요!</span>
<div class="content_box" style="margin:5px 12px 12px; overflow:hidden;">
	<div id="ask_deal_table" class="card_detail_table" style="padding: 10px 10px 0px;">
    <div class="table_div">
      <div class="ask_text_field left_input output_field" style="font-weight:bold;">
        <p class="output_field"><%=@ask.left_ask_deal.title%></p>
				<div class="tooltip_area">
          <div class="tooltip_arrow bottom"></div>
          <div class="tooltip_content"><%=@ask.left_ask_deal.title%></div>
        </div>
      </div>
      <div class="ask_text_field right_input output_field" style="font-weight:bold;">
        <p class="output_field"><%=@ask.right_ask_deal.title%></p>
        <div class="tooltip_area">
          <div class="tooltip_arrow bottom"></div>
          <div class="tooltip_content"><%=@ask.right_ask_deal.title%></div>
        </div>
      </div>
      <span class="input_icon center_input"><i class="fa fa-cube"></i></span>
    </div>
  </div>
	<div class="table_div" style="margin-bottom:0;">
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:left;">
			<a href="#" onclick="select_ask_deal(<%=@ask.left_ask_deal.id%>, true); return false;">
				<img src='<%= @ask.left_ask_deal.image.url(:normal) %>' class="card_image"/>
			</a>
		</div>
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:right;">
			<a href="#" onclick="select_ask_deal(<%=@ask.right_ask_deal.id%>, false); return false;">
				<img src='<%= @ask.right_ask_deal.image.url(:normal) %>' class="card_image"/>
			</a>
		</div>
		<a href="#" onclick="return false;" id="select_div" class="card_image_overlay" style="width:50%; border:10px solid #ffe4a9; box-sizing:border-box; display:none; transition:left .75s ease-out;">
			<i class="fa fa-check-circle" style="position:absolute; width:80px; height:80px; top:50%; left:50%; margin-top:-38px; margin-left:-40px; font-size:80px; color:#ffcc5a; font-weight:bold;"></i>
		</a>
	</div>
	<div id="final_vote_count">
	</div>
</div>
<div class="table_div" style="margin-bottom:0; text-align:right; padding-bottom:80px; padding-right:20px;">
	<a href="#" onclick="go_url('/asks/<%=@ask.id%>/create_complete?ask_deal_id=0'); return false;" style="font-size:13px; color:#9d9ea1;">
		<i class="fa fa-ban"></i>&nbsp;응답 제출하지 않고 종료하기
	</a>
</div>
<div id="ask_complete_submit_btn_area" style="position:fixed; bottom:-40px; width:inherit; box-sizing:border-box; transition:bottom .3s; z-index:1;">
		<a id="ask_complete_submit_btn" href="#" onclick="submit_complete(); return false;" class="ask_submit_btn">
			<i class="fa fa-chain-broken"></i>&nbsp;질문 종료하기
		</a>
</div>

<script type="text/template" id="final-vote-count-template">
	{{ total_count = <%=@ask.left_ask_deal.vote_count%> + <%=@ask.right_ask_deal.vote_count%> }}
	{{ if (<%=@ask.user_id%> == <%=current_user.id%> && total_count == 0){ }}
		{{ left_ratio = 0 }}
		{{ left_ratio_full = 0 }}
		{{ right_ratio = 0 }}
		{{ right_ratio_full = 0 }}
	{{ }else{ }}
		{{ left_ratio = Math.round(<%=@ask.left_ask_deal.vote_count%>/total_count * 80) }}
		{{ left_ratio_full = Math.round(<%=@ask.left_ask_deal.vote_count%>/total_count * 100) }}
		{{ right_ratio = Math.round(<%=@ask.right_ask_deal.vote_count%>/total_count * 80) }}
		{{ right_ratio_full = Math.round(<%=@ask.right_ask_deal.vote_count%>/total_count * 100) }}
	{{ } }}

	{{ left_background = "#ffcc5a" }}
	{{ left_font_weight = "bold" }}
	{{ right_background = "#ffcc5a" }}
	{{ right_font_weight = "bold" }}
	{{ if (left_ratio > right_ratio){ }}
		{{ right_background = "#fff" }}
		{{ right_font_weight = "normal" }}
	{{ }else if(left_ratio < right_ratio){ }}
		{{ left_background = "#fff" }}
		{{ left_font_weight = "normal" }}
	{{ } }}
	<table cellspacing="0" cellpadding="0" style="width:100%; background-color:rgba(75,61,61,0.9); color:#fff; font-size:12px; font-weight:bold; height:40px;">
		<tr>
			<td class="vote-result-td">
				<span class="vote-result-bar-left" style="width:{{=left_ratio}}%; background-color:{{=left_background}};">&nbsp;</span>
				<span class="vote-result-num-left" style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{=left_ratio_full}}%</span>
			</td>
			<td class="vote-result-td-title">
				A vs B
			</td>
			<td class="vote-result-td">
				<span class="vote-result-bar-right" style="width:{{=right_ratio}}%; background-color:{{=right_background}};">&nbsp;</span>
				<span class="vote-result-num-right" style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{=right_ratio_full}}%</span>
			</td>
		</tr>
	</table>
	{{ gender_total_count = <%=@detail_vote_count[:left][:male_count]%> + <%=@detail_vote_count[:left][:female_count]%> + <%=@detail_vote_count[:right][:male_count]%> + <%=@detail_vote_count[:right][:female_count]%> }}
	{{ if ( gender_total_count == 0 ){ }}
		{{ male_left_ratio = 0 }}
		{{ male_right_ratio = 0 }}
		{{ female_left_ratio = 0 }}
		{{ female_right_ratio = 0 }}
	{{ }else{ }}
		{{ male_left_ratio = Math.round(<%=@detail_vote_count[:left][:male_count]%>/gender_total_count * 80) }}
		{{ male_right_ratio = Math.round(<%=@detail_vote_count[:right][:male_count]%>/gender_total_count * 80) }}
		{{ female_left_ratio = Math.round(<%=@detail_vote_count[:left][:female_count]%>/gender_total_count * 80) }}
		{{ female_right_ratio = Math.round(<%=@detail_vote_count[:right][:female_count]%>/gender_total_count * 80) }}
	{{ } }}

	{{ gender_male_css = "" }}
	{{ gender_female_css = "" }}
	{{ gender_male_background_css = "" }}
	{{ gender_female_background_css = "" }}
	{{ if( (gender_total_count != 0 && (<%=@detail_vote_count[:left][:male_count]%> + <%=@detail_vote_count[:right][:male_count]%>) <= (<%=@detail_vote_count[:left][:female_count]%> + <%=@detail_vote_count[:right][:female_count]%>)) ){ }}
		{{ gender_female_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ gender_female_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( (gender_total_count != 0 && (<%=@detail_vote_count[:left][:male_count]%> + <%=@detail_vote_count[:right][:male_count]%>) >= (<%=@detail_vote_count[:left][:female_count]%> + <%=@detail_vote_count[:right][:female_count]%>)) ){ }}
		{{ gender_male_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ gender_male_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
	<table cellspacing="0" cellpadding="1" class="graph" style="padding:10px; border-bottom:1px solid #dbdbdb; font-size:12px; background-color:#fff;">
		<tbody>
			<tr style="{{=gender_male_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(male_left_ratio)}}%; background-color:{{= (male_left_ratio >= male_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }}">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (male_left_ratio >= male_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:male_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:male_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{=gender_male_css}}">
					남자
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(male_right_ratio) }}%; background-color:{{= (male_left_ratio <= male_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (male_left_ratio <= male_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:male_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:male_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=gender_female_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(female_left_ratio) }}%; background-color:{{= (female_left_ratio >= female_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (female_left_ratio >= female_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:female_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:female_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{=gender_female_css}}">
					여자
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(female_right_ratio) }}%; background-color: {{= (female_left_ratio <= female_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (female_left_ratio <= female_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:female_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:female_count]%>+"명"}}</span>
				</td>
			</tr>
		</tbody>
	</table>
	{{ age_total_count = <%=@detail_vote_count[:left][:age_20_1_count]%> + <%=@detail_vote_count[:left][:age_20_2_count]%> + <%=@detail_vote_count[:left][:age_20_3_count]%> + <%=@detail_vote_count[:left][:age_30_1_count]%> + <%=@detail_vote_count[:left][:age_30_2_count]%> + <%=@detail_vote_count[:left][:age_30_3_count]%> + <%=@detail_vote_count[:left][:etc_count]%> + <%=@detail_vote_count[:right][:age_20_1_count]%> + <%=@detail_vote_count[:right][:age_20_2_count]%> + <%=@detail_vote_count[:right][:age_20_3_count]%> + <%=@detail_vote_count[:right][:age_30_1_count]%> + <%=@detail_vote_count[:right][:age_30_2_count]%> + <%=@detail_vote_count[:right][:age_30_3_count]%> + <%=@detail_vote_count[:right][:etc_count]%> }}
	{{ if ( age_total_count == 0 ){ }}
		{{ age_20_1_left_ratio = 0 }}
		{{ age_20_1_right_ratio = 0 }}
		{{ age_20_2_left_ratio = 0 }}
		{{ age_20_2_right_ratio = 0 }}
		{{ age_20_3_left_ratio = 0 }}
		{{ age_20_3_right_ratio = 0 }}
		{{ age_30_1_left_ratio = 0 }}
		{{ age_30_1_right_ratio = 0 }}
		{{ age_30_2_left_ratio = 0 }}
		{{ age_30_2_right_ratio = 0 }}
		{{ age_30_3_left_ratio = 0 }}
		{{ age_30_3_right_ratio = 0 }}
		{{ etc_left_ratio = 0 }}
		{{ etc_right_ratio = 0 }}
	{{ }else{ }}
		{{ age_20_1_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_20_1_count]%>/age_total_count * 80) }}
		{{ age_20_1_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_20_1_count]%>/age_total_count * 80) }}
		{{ age_20_2_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_20_2_count]%>/age_total_count * 80) }}
		{{ age_20_2_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_20_2_count]%>/age_total_count * 80) }}
		{{ age_20_3_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_20_3_count]%>/age_total_count * 80) }}
		{{ age_20_3_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_20_3_count]%>/age_total_count * 80) }}
		{{ age_30_1_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_30_1_count]%>/age_total_count * 80) }}
		{{ age_30_1_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_30_1_count]%>/age_total_count * 80) }}
		{{ age_30_2_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_30_2_count]%>/age_total_count * 80) }}
		{{ age_30_2_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_30_2_count]%>/age_total_count * 80) }}
		{{ age_30_3_left_ratio = Math.round(<%=@detail_vote_count[:left][:age_30_3_count]%>/age_total_count * 80) }}
		{{ age_30_3_right_ratio = Math.round(<%=@detail_vote_count[:right][:age_30_3_count]%>/age_total_count * 80) }}
		{{ etc_left_ratio = Math.round(<%=@detail_vote_count[:left][:etc_count]%>/age_total_count * 80) }}
		{{ etc_right_ratio = Math.round(<%=@detail_vote_count[:right][:etc_count]%>/age_total_count * 80) }}
	{{ } }}

	{{ age_20_1_css = "" }}
	{{ age_20_2_css = "" }}
	{{ age_20_3_css = "" }}
	{{ age_30_1_css = "" }}
	{{ age_30_2_css = "" }}
	{{ age_30_3_css = "" }}
	{{ etc_css = "" }}
	{{ age_20_1_background_css = "" }}
	{{ age_20_2_background_css = "" }}
	{{ age_20_3_background_css = "" }}
	{{ age_30_1_background_css = "" }}
	{{ age_30_2_background_css = "" }}
	{{ age_30_3_background_css = "" }}
	{{ etc_background_css = "" }}
	{{ age_20_1_count = <%=@detail_vote_count[:left][:age_20_1_count]%> + <%=@detail_vote_count[:right][:age_20_1_count]%> }}
	{{ age_20_2_count = <%=@detail_vote_count[:left][:age_20_2_count]%> + <%=@detail_vote_count[:right][:age_20_2_count]%> }}
	{{ age_20_3_count = <%=@detail_vote_count[:left][:age_20_3_count]%> + <%=@detail_vote_count[:right][:age_20_3_count]%> }}
	{{ age_30_1_count = <%=@detail_vote_count[:left][:age_30_1_count]%> + <%=@detail_vote_count[:right][:age_30_1_count]%> }}
	{{ age_30_2_count = <%=@detail_vote_count[:left][:age_30_2_count]%> + <%=@detail_vote_count[:right][:age_30_2_count]%> }}
	{{ age_30_3_count = <%=@detail_vote_count[:left][:age_30_3_count]%> + <%=@detail_vote_count[:right][:age_30_3_count]%> }}
	{{ etc_count = <%=@detail_vote_count[:left][:etc_count]%> + <%=@detail_vote_count[:right][:etc_count]%> }}
	{{ age_count_arr = [ age_20_1_count, age_20_2_count, age_20_3_count, age_30_1_count, age_30_2_count, age_30_3_count, etc_count] }}
	{{ max_count = Math.max.apply(window,age_count_arr) }}
  {{ max_count_index_array = [] }}
  {{ for(i=0; i < age_count_arr.length; i++) { }}
    {{ if (max_count !=0 && age_count_arr[i] == max_count) max_count_index_array.push(i) }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(0) != -1 ){ }}
		{{ age_20_1_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_1_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
  {{ if( max_count_index_array.indexOf(1) != -1 ){ }}
		{{ age_20_2_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_2_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(2) != -1 ){ }}
		{{ age_20_3_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_3_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(3) != -1 ){ }}
		{{ age_30_1_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_1_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(4) != -1 ){ }}
		{{ age_30_2_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_2_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(5) != -1 ){ }}
		{{ age_30_3_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_3_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(6) != -1 ){ }}
		{{ etc_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ etc_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
	<table cellspacing="0" cellpadding="1" class="graph" style="padding:10px; background-color:#f4f4f4; font-size:12px; background-color:#fff;">
		<tbody>
			<tr style="{{=age_20_1_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_1_left_ratio) }}%; background-color:{{= (age_20_1_left_ratio >= age_20_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_1_left_ratio >= age_20_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_20_1_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_20_1_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_1_css }}">
					20초
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_1_right_ratio) }}%; background-color:{{= (age_20_1_left_ratio <= age_20_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_1_left_ratio <= age_20_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_20_1_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_20_1_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_20_2_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_2_left_ratio) }}%; background-color:{{= (age_20_2_left_ratio >= age_20_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_2_left_ratio >= age_20_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_20_2_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_20_2_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_2_css }}">
					20중
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_2_right_ratio) }}%; background-color:{{= (age_20_2_left_ratio <= age_20_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_2_left_ratio <= age_20_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_20_2_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_20_2_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_20_3_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_3_left_ratio) }}%; background-color:{{= (age_20_3_left_ratio >= age_20_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_3_left_ratio >= age_20_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_20_3_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_20_3_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_3_css }}">
					20후
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_3_right_ratio) }}%; background-color:{{= (age_20_3_left_ratio <= age_20_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_3_left_ratio <= age_20_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_20_3_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_20_3_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_1_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_1_left_ratio) }}%; background-color:{{= (age_30_1_left_ratio >= age_30_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_1_left_ratio >= age_30_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_30_1_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_30_1_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_1_css }}">
					30초
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_1_right_ratio) }}%; background-color:{{= (age_30_1_left_ratio <= age_30_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_1_left_ratio <= age_30_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_30_1_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_30_1_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_2_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_2_left_ratio) }}%; background-color:{{= (age_30_2_left_ratio >= age_30_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_2_left_ratio >= age_30_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_30_2_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_30_2_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_2_css }}">
					30중
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_2_right_ratio) }}%; background-color:{{= (age_30_2_left_ratio <= age_30_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_2_left_ratio <= age_30_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_30_2_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_30_2_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_3_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_3_left_ratio) }}%; background-color:{{= (age_30_3_left_ratio >= age_30_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_3_left_ratio >= age_30_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:age_30_3_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:age_30_3_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_3_css }}">
					30후
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_3_left_ratio) }}%; background-color:{{= (age_30_3_left_ratio <= age_30_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_3_left_ratio <= age_30_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:age_30_3_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:age_30_3_count]%>+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=etc_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(etc_left_ratio) }}%; background-color:{{= (etc_left_ratio >= etc_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (etc_left_ratio >= etc_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:left][:etc_count]%> ==0) ? "-" : <%=@detail_vote_count[:left][:etc_count]%>+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= etc_css }}">
					기타
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(etc_right_ratio) }}%; background-color:{{= (etc_left_ratio <= etc_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (etc_left_ratio <= etc_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (<%=@detail_vote_count[:right][:etc_count]%> ==0) ? "-" : <%=@detail_vote_count[:right][:etc_count]%>+"명"}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</script>

<script>

	var star_point;
	var selected_ask_deal_id;

	tooltip_box();
	if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    // return false;
  } else {
    $(".card_image").hover(
      function(){
        $(this).addClass("img_hover");
      },
      function(){
        $(this).removeClass("img_hover");
      }
    );
    $(".card_image_overlay").hover(
      function(){
        $(this).prev().children(".card_image").addClass("img_hover");
      },
      function(){
        $(this).prev().children(".card_image").removeClass("img_hover");
      }
    );
  }
	var finalVoteCountTemplate = _.template($('#final-vote-count-template').html());
	$("#final_vote_count").append(finalVoteCountTemplate());

	var starMouseTarget; // Mouse/Touch event target

	$(function(){
		// bind events
		$(".star_rating_wrap").each(function(){
			$(this).bind("mousedown", starMouseDownListener);
			$(this).bind("touchstart", starTouchStartListener);
			$(this).bind("touchmove", starTouchMoveListener);
			$(this).bind("touchend", starTouchEndListener);
		});
	});

	function starMouseDownListener(e){
		e.preventDefault();

		starMouseTarget = $(e.currentTarget);
		calculateStarRating(e.pageX);

		// unbind and bind mouse events to prevent repeated binding
		$(document).unbind("mousemove", starMouseMoveListener);
		$(document).unbind("mouseup", starMouseUpListener);
		$(document).bind("mousemove", starMouseMoveListener);
		$(document).bind("mouseup", starMouseUpListener);
		// unbind touch events
		starMouseTarget.unbind("touchstart", starTouchStartListener);
		starMouseTarget.unbind("touchmove", starTouchMoveListener);
		starMouseTarget.unbind("touchend", starTouchEndListener);
	}

	function starMouseMoveListener(e){
		e.preventDefault();

		calculateStarRating(e.pageX);
	}

	function starMouseUpListener(e){
		e.preventDefault();

		calculateStarRating(e.pageX);
		updateStarPoint();

		// unbind mouse events
		$(document).unbind("mousemove", starMouseMoveListener);
		$(document).unbind("mouseup", starMouseUpListener);
	}

	function starTouchStartListener(e){
		e.preventDefault();

		starMouseTarget = $(e.currentTarget);
		calculateStarRating(e.originalEvent.touches[0].clientX);

		starMouseTarget.unbind("mousedown", starMouseDownListener);
	}

	function starTouchMoveListener(e){
		e.preventDefault();
		calculateStarRating(e.originalEvent.touches[0].clientX);
	}

	function starTouchEndListener(e){
		e.preventDefault();
		updateStarPoint();
	}

	function calculateStarRating(x){
		var li;
		var n = 0;
		starMouseTarget.find("li").each(function(index){
			li = $(this);
			if( li.offset().left > x ){
				li.removeClass("on");// not selected
				li.find("i").removeClass("fa-star").addClass("fa-star-o");
			}else{
				li.addClass("on");// selected
				li.find("i").removeClass("fa-star-o").addClass("fa-star");
				n = index + 1;
			}
		});
		starMouseTarget.find("li").data("value", n);
	}

	function updateStarPoint(){
		star_point = $(".star_rating_wrap > ul > li").data("value");
		ready_to_submit();
	}

	function select_ask_deal(ask_deal_id, is_left){
		if (selected_ask_deal_id == null) {
			if (is_left){
				$("#select_div").show().css("left","0%").animateCss("slideInRight");
			} else {
				$("#select_div").show().css("left","50%").animateCss("slideInLeft");
			}
		} else {
			if (is_left){
				$("#select_div").css("left","0%");
			} else {
				$("#select_div").css("left","50%");
			}
		}
		$("#select_div i").animateCss("rubberBand");
		selected_ask_deal_id = ask_deal_id;
		ready_to_submit();
	}

	function ready_to_submit() {
		if (star_point != null && star_point > 0 && selected_ask_deal_id != null) {
			$("#ask_complete_submit_btn_area").css({"bottom":"0px"});
      $("#ask_complete_submit_btn").css("background-color","#ee6e01");
		} else {
			$("#ask_complete_submit_btn_area").css({"bottom":"-40px"});
      $("#ask_complete_submit_btn").css("background-color","#9d9ea1");
		}
	}

	function submit_complete(){
		if(star_point == null || star_point == 0){
			notify('만족도 별점을 평가해주세요');
			return;
		}
		if(selected_ask_deal_id == null){
			notify("최종 선택하신 제품을 골라주세요");
			return;
		}
		window.location = "/asks/<%=@ask.id%>/create_complete?star_point="+star_point+"&ask_deal_id="+selected_ask_deal_id;
	}

</script>
