<div style="margin:0 auto; max-width:600px; font-size:13px; background-color:#fff; padding:10px;">
  <h1 style="color:#998674; text-align:right; margin-bottom:5px;">
    VASKIT 실시간 Report
  </h1>
  <p id="time" style="margin:0; font-size:13px; color:#666; text-align:right;"></p>
  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">누적 주요 지표</h2>
  <table cellspacing="8" cellpadding="0" style="width:100%; max-width:600px;">
    <tr style="text-align:center; font-size:30px; font-weight:bold;">
      <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
        <small style="font-size:15px;">방문</small><br>
        <%= @total_visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
      </td>
      <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
        <small style="font-size:15px;">투표</small><br>
        <%= @total_vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
      </td>
      <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
        <small style="font-size:15px;">댓글</small><br>
        <%= @total_comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
      </td>
      <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
        <small style="font-size:15px;">질문</small><br>
        <%= @total_ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
      </td>
      <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
        <small style="font-size:15px;">회원수</small><br>
        <%= User.where(:user_role => "user").count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
      </td>
    </tr>
  </table>
  <p style="margin:10px 15px; color:#666;">
    이 지표는 실제 사용자들의 누적 주요 지표입니다.<br>
    단, 방문횟수의 경우에는 2016년 7월 22일부터 집계되었습니다.
  </p>



  <br><br>
  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10일간 일자별 지표</h2>
  <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
    <tr style="background-color:#f4f4f4;">
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">일자</th>
      <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
      <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
      <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
      <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
      <th style="border-bottom: 1px solid #dbdbdb;">DAU</th>
    </tr>
    <% @daily_recent_10.each do |d| %>
    <tr style="text-align:right;">
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= d.date %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.visit_count == 0 ? "-" : d.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.vote_count == 0 ? "-" : d.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.comment_count == 0 ? "-" : d.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= d.ask_count == 0 ? "-" : d.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.comment_like_count == 0 ? "-" : d.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.ask_like_count == 0 ? "-" : d.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= d.share_count == 0 ? "-" : d.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.signup_count == 0 ? "-" : d.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= d.DAU == 0 ? "-" : d.DAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
    </tr>
    <% end %>
  </table>
  <p style="padding: 10px 15px; font-size:14px; font-weight: bold; color: #fff; background: #998674; max-width: 600px; box-sizing: border-box;">[차트1] 일자별 방문, 투표횟수</p>
  <div id="chart_1"></div>
  <p style="padding: 10px 15px; font-size:14px; font-weight: bold; color: #fff; background: #998674; max-width: 600px; box-sizing: border-box;">[차트2] 일자별 Active Users</p>
  <div id="chart_2"></div>
  <p style="padding: 10px 15px; font-size:14px; font-weight: bold; color: #fff; background: #998674; max-width: 600px; box-sizing: border-box;">[차트3] 일자별 신규 가입자수</p>
  <div id="chart_3"></div>
  <p style="padding: 10px 15px; font-size:14px; font-weight: bold; color: #fff; background: #998674; max-width: 600px; box-sizing: border-box;">[차트4] 일자별 댓글 횟수</p>
  <div id="chart_4"></div>
  <p style="padding: 10px 15px; font-size:14px; font-weight: bold; color: #fff; background: #998674; max-width: 600px; box-sizing: border-box;">[차트5] 일자별 질문, 좋아요, 공감, 공유횟수</p>
  <div id="chart_5"></div>



  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10주간 주간별 지표</h2>
  <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
    <tr style="background-color:#f4f4f4;">
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">주차</th>
      <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
      <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
      <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
      <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
      <th style="border-bottom: 1px solid #dbdbdb;">WAU</th>
    </tr>
    <% @weekly_recent_10.each do |w| %>
    <tr style="text-align:right;">
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= w.week %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.visit_count == 0 ? "-" : w.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.vote_count == 0 ? "-" : w.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.comment_count == 0 ? "-" : w.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= w.ask_count == 0 ? "-" : w.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.comment_like_count == 0 ? "-" : w.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.ask_like_count == 0 ? "-" : w.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= w.share_count == 0 ? "-" : w.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.signup_count == 0 ? "-" : w.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= w.WAU == 0 ? "-" : w.WAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
    </tr>
    <% end %>
  </table>

  <br><br>
  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10개월간 월별 지표</h2>
  <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
    <tr style="background-color:#f4f4f4;">
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">월</th>
      <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
      <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
      <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
      <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
      <th style="border-bottom: 1px solid #dbdbdb;">MAU</th>
    </tr>
    <% @monthly_recent_10.each do |m| %>
    <tr style="text-align:right;">
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= m.month %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.visit_count == 0 ? "-" : m.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.vote_count == 0 ? "-" : m.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.comment_count == 0 ? "-" : m.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= m.ask_count == 0 ? "-" : m.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.comment_like_count == 0 ? "-" : m.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.ask_like_count == 0 ? "-" : m.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= m.share_count == 0 ? "-" : m.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.signup_count == 0 ? "-" : m.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= m.MAU == 0 ? "-" : m.MAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
    </tr>
    <% end %>
  </table>

  <br><br>
  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">누적 방문 횟수 상위 10명 회원 리스트</h2>
  <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
    <tr style="background-color:#f4f4f4;">
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">ID</th>
      <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
      <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
      <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
      <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
      <th style="border-bottom: 1px solid #dbdbdb;">최근 접속일</th>
      <th style="border-bottom: 1px solid #dbdbdb;">가입일</th>
    </tr>
    <% @user_top_10.each do |u| %>
    <tr style="text-align:right;">
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= u.string_id %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= u.visit_count == 0 ? "-" : u.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= u.vote_count == 0 ? "-" : u.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= u.comment_count == 0 ? "-" : u.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= u.ask_count == 0 ? "-" : u.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= u.comment_like_count == 0 ? "-" : u.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= u.ask_like_count == 0 ? "-" : u.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= u.share_count == 0 ? "-" : u.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= u.recent_visit %></td>
      <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= u.created_at.month %>월 <%= u.created_at.day %>일</td>
    </tr>
    <% end %>
  </table>

  <br><br>
  <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10일 내 회원 작성 게시물 현황</h2>
  <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
    <tr style="background-color:#f4f4f4;">
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">Link</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">내용</th>
      <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
      <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb;">본인댓글</th>
      <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
      <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
      <th style="border-bottom: 1px solid #dbdbdb;">작성일</th>
    </tr>
    <% @asks_recent.each do |a| %>
    <tr style="text-align:right;">
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><a href="http://vaskit.kr/asks/<%=a.ask_id%>" target="_blank"><%= a.ask_id %></a></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:left;"><%= a.message.truncate(15) %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= a.vote_count == 0 ? "-" : a.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= a.comment_count == 0 ? "-" : a.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= a.comment_my_count == 0 ? "-" : a.comment_my_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb;"><%= a.ask_like_count == 0 ? "-" : a.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= a.share_count == 0 ? "-" : a.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= a.created_at.month %>월 <%= a.created_at.day %>일</td>
    </tr>
    <% end %>
  </table>

  <br>
  <h2 style="background-color:#9d9ea1; color:#fff; padding:10px 15px; text-align:center;">END of Report</h2>
</div>

<script>
  var now = new Date();
  $("#time").html(now);

  var daily_recent_10 = <%= raw @daily_recent_10.to_json %>;
  var chart_1_list = [],
      chart_2_list = [],
      chart_3_list = [],
      chart_4_list = [],
      chart_5_list = [];
  $.each(daily_recent_10, function(index, daily){
    var a = [];
    a.push(daily.visit_count);
    a.push(daily.vote_count);
    chart_1_list.unshift(a);
    var b = [];
    b.push(daily.DAU);
    chart_2_list.unshift(b);
    var c = [];
    c.push(daily.signup_count);
    chart_3_list.unshift(c);
    var d = [];
    d.push(daily.comment_count);
    chart_4_list.unshift(d);
    var e = [];
    e.push(daily.ask_count);
    e.push(daily.comment_like_count);
    e.push(daily.ask_like_count);
    e.push(daily.share_count);
    chart_5_list.unshift(e);
  });
  var options_1 = {
    'legend':{
      names: ['10일전','9일전','8일전','7일전','6일전','5일전','4일전','3일전','어제','오늘'],
      hrefs: []
    },
    'dataset':{
      title:'일자별 방문, 투표 횟수',
      values: chart_1_list,
      colorset: ['#DC143C', '#EE6E01'],
      fields:['방문', '투표']
    },
    'chartDiv' : 'chart_1',
    'chartType' : 'line',
    'chartSize' : {width:600, height:300},
    'minValue' : 0,
    // 'maxValue' : 300,
    'increment' : 50,
    'isGuideLineNeeded' : true
  };
  Nwagon.chart(options_1);

  var options_2 = {
    'legend':{
      names: ['10일전','9일전','8일전','7일전','6일전','5일전','4일전','3일전','어제','오늘'],
      hrefs: []
    },
    'dataset':{
      title:'일자별 Active Users',
      values: chart_2_list,
      colorset: ['#FFCC5A'],
      fields:['DAU']
    },
    'chartDiv' : 'chart_2',
    'chartType' : 'line',
    'chartSize' : {width:600, height:300},
    'minValue' : 0,
    // 'maxValue' : 30,
    'increment' : 10,
    'isGuideLineNeeded' : true
  };
  Nwagon.chart(options_2);

  var options_3 = {
    'legend':{
      names: ['10일전','9일전','8일전','7일전','6일전','5일전','4일전','3일전','어제','오늘'],
      hrefs: []
    },
    'dataset':{
      title:'일자별 신규 가입자수',
      values: chart_3_list,
      colorset: ['RED'],
      fields:['신규']
    },
    'chartDiv' : 'chart_3',
    'chartType' : 'line',
    'chartSize' : {width:600, height:300},
    'minValue' : 0,
    // 'maxValue' : 30,
    'increment' : 5,
    'isGuideLineNeeded' : true
  };
  Nwagon.chart(options_3);

  var options_4 = {
    'legend':{
      names: ['10일전','9일전','8일전','7일전','6일전','5일전','4일전','3일전','어제','오늘'],
      hrefs: []
    },
    'dataset':{
      title:'일자별 댓글, 질문, 좋아요, 공감, 공유횟수',
      values: chart_4_list,
      colorset: ['GREEN'],
      fields:['댓글']
    },
    'chartDiv' : 'chart_4',
    'chartType' : 'line',
    'chartSize' : {width:600, height:300},
    'minValue' : 0,
    // 'maxValue' : 30,
    'increment' : 5,
    'isGuideLineNeeded' : true
  };
  Nwagon.chart(options_4);

  var options_5 = {
    'legend':{
      names: ['10일전','9일전','8일전','7일전','6일전','5일전','4일전','3일전','어제','오늘'],
      hrefs: []
    },
    'dataset':{
      title:'일자별 질문, 좋아요, 공감, 공유횟수',
      values: chart_5_list,
      colorset: ['#EE6E01', '#FFCC5A', '#EE065E', '#DBDBDB'],
      fields:['질문', '좋아요', '공감', '공유']
    },
    'chartDiv' : 'chart_5',
    'chartType' : 'line',
    'chartSize' : {width:600, height:300},
    'minValue' : 0,
    // 'maxValue' : 30,
    'increment' : 5,
    'isGuideLineNeeded' : true
  };
  Nwagon.chart(options_5);

  var chart_1 = document.getElementById("chart_1");
  var graph_1 = chart_1.getElementsByClassName("Nwagon_line");
  graph_1[0].setAttribute("height","350");
  graph_1[0].setAttribute("viewBox","-50 -200 460 250");
  var field_1 = chart_1.getElementsByClassName("fields");
  var fields_1 = field_1[0].childNodes;
  fields_1[0].setAttribute("x","0");
  fields_1[1].setAttribute("x","20");
  fields_1[2].setAttribute("x","40");
  fields_1[3].setAttribute("x","60");
  fields_1[0].setAttribute("y","35");
  fields_1[1].setAttribute("y","40");
  fields_1[2].setAttribute("y","35");
  fields_1[3].setAttribute("y","40");
  fields_1[0].setAttribute("width","16");
  fields_1[0].setAttribute("height","10");
  fields_1[2].setAttribute("width","16");
  fields_1[2].setAttribute("height","10");

  var chart_2 = document.getElementById("chart_2");
  var graph_2 = chart_2.getElementsByClassName("Nwagon_line");
  graph_2[0].setAttribute("height","350");
  graph_2[0].setAttribute("viewBox","-50 -200 460 250");
  var field_2 = chart_2.getElementsByClassName("fields");
  var fields_2 = field_2[0].childNodes;
  fields_2[0].setAttribute("x","0");
  fields_2[1].setAttribute("x","20");
  fields_2[0].setAttribute("y","35");
  fields_2[1].setAttribute("y","40");
  fields_2[0].setAttribute("width","16");
  fields_2[0].setAttribute("height","10");

  var chart_3 = document.getElementById("chart_3");
  var graph_3 = chart_3.getElementsByClassName("Nwagon_line");
  graph_3[0].setAttribute("height","350");
  graph_3[0].setAttribute("viewBox","-50 -200 460 250");
  var field_3 = chart_3.getElementsByClassName("fields");
  var fields_3 = field_3[0].childNodes;
  fields_3[0].setAttribute("x","0");
  fields_3[1].setAttribute("x","20");
  fields_3[0].setAttribute("y","35");
  fields_3[1].setAttribute("y","40");
  fields_3[0].setAttribute("width","16");
  fields_3[0].setAttribute("height","10");

  var chart_4 = document.getElementById("chart_4");
  var graph_4 = chart_4.getElementsByClassName("Nwagon_line");
  graph_4[0].setAttribute("height","350");
  graph_4[0].setAttribute("viewBox","-50 -200 460 250");
  var field_4 = chart_4.getElementsByClassName("fields");
  var fields_4 = field_4[0].childNodes;
  fields_4[0].setAttribute("x","0");
  fields_4[1].setAttribute("x","20");
  fields_4[0].setAttribute("y","35");
  fields_4[1].setAttribute("y","40");
  fields_4[0].setAttribute("width","16");
  fields_4[0].setAttribute("height","10");

  var chart_5 = document.getElementById("chart_5");
  var graph_5 = chart_5.getElementsByClassName("Nwagon_line");
  graph_5[0].setAttribute("height","350");
  graph_5[0].setAttribute("viewBox","-50 -200 460 250");
  var field_5 = chart_5.getElementsByClassName("fields");
  var fields_5 = field_5[0].childNodes;
  fields_5[0].setAttribute("x","0");
  fields_5[1].setAttribute("x","20");
  fields_5[2].setAttribute("x","40");
  fields_5[3].setAttribute("x","60");
  fields_5[4].setAttribute("x","90");
  fields_5[5].setAttribute("x","110");
  fields_5[6].setAttribute("x","130");
  fields_5[7].setAttribute("x","150");
  fields_5[0].setAttribute("y","35");
  fields_5[1].setAttribute("y","40");
  fields_5[2].setAttribute("y","35");
  fields_5[3].setAttribute("y","40");
  fields_5[4].setAttribute("y","35");
  fields_5[5].setAttribute("y","40");
  fields_5[6].setAttribute("y","35");
  fields_5[7].setAttribute("y","40");
  fields_5[0].setAttribute("width","16");
  fields_5[0].setAttribute("height","10");
  fields_5[2].setAttribute("width","16");
  fields_5[2].setAttribute("height","10");
  fields_5[4].setAttribute("width","16");
  fields_5[4].setAttribute("height","10");
  fields_5[6].setAttribute("width","16");
  fields_5[6].setAttribute("height","10");

  $("svg").css("overflow","visible");
  $(".background text").css("fontSize","10px");
</script>
