<% case @type %>
<% when "user", "hash_tag", "ask_deal", "brand", "none" %>
	<%= render :partial => "common_partial/header", :locals => {:title => "", :sub_title => "", :sub_icon => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble">
		<% if @type == "user" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-user"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;유저 검색 결과입니다
		<% elsif @type == "hash_tag" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-slack" style="transform:rotate(19deg); -webkit-transform:rotate(19deg);"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;해쉬태그 검색 결과입니다
		<% elsif @type == "ask_deal" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-cube"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;제품명 검색 결과입니다
		<% elsif @type == "brand" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-tag"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;브랜드 검색 결과입니다
		<% elsif @type == "none" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-search"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;통합 검색 결과입니다
		<% end %>
	</p>
<% when "vote_yet" %>
	<%= render :partial => "common_partial/header", :locals => {:title => "", :sub_title => "", :sub_icon => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble">
		참여하지 않은 카드만 보고싶으셨군요?<br>당신의 꿈은 투표왕?!!
	</p>
<% when "my_ask_in_progress", "my_like_ask", "my_ask", "vote_ask", "comment_ask" %>
	<% if @type == "my_ask_in_progress" %>
		<%= render :partial => "common_partial/header", :locals => {:title => "진행중인 질문", :sub_title => "투표를 종료할 수 있답니다", :sub_icon => "fa-info-circle"} %>
		<p class="chat_bubble"><span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 현재 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id, :be_completed => false).count %>개</span>의 질문을 진행중이시군요!</p>
	<% elsif @type == "my_like_ask" %>
		<%= render :partial => "common_partial/header", :locals => {:title => "공감한 질문", :sub_title => "와우! 당신의 공감능력이란!", :sub_icon => "fa-heart"} %>
		<p class="chat_bubble"><span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= AskLike.where(:user_id => current_user.id).count %>개</span>의 질문에 공감하셨군요!</p>
	<% elsif @type == "my_ask" %>
		<%= render :partial => "common_partial/header", :locals => {:title => "나의 질문", :sub_title => "많은 고민을 해결하셨나요?", :sub_icon => "fa-smile-o"} %>
		<p class="chat_bubble"><span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id).count %>개</span>의 질문을 던지셨군요!</p>
	<% elsif @type == "vote_ask" %>
		<%= render :partial => "common_partial/header", :locals => {:title => "나의 투표", :sub_title => "와우! 탁월한 고민해결사님", :sub_icon => "fa-thumbs-o-up"} %>
		<p class="chat_bubble"><span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Vote.where(:user_id => current_user.id).count %>개</span>의 투표에 참여했군요!</p>
	<% elsif @type == "comment_ask" %>
		<%= render :partial => "common_partial/header", :locals => {:title => "나의 의견", :sub_title => "와우! 수다쟁이! 쌀람해요!", :sub_icon => "fa-heart"} %>
		<p class="chat_bubble"><span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Comment.where(:user_id => current_user.id).count %>개</span>의 의견을 남기셨군요!</p>
	<% end %>
<% else %>
	<%= render :partial => "common_partial/header", :locals => {:title => "", :sub_title => "", :sub_icon => ""} %>
	<%= render :partial => "common_partial/search" %>
	<div class="chat_bubble table_div">
		<div class="table_div" style="line-height:30px; margin-bottom:0;">
			<b style="color:#f18b33;">#둘중에뭐사지? #혼자고민하지마</b>
			<b class="animated swing" style="float:right;">Let's VASKIT!</b>
		</div>
		<div id="movie_info">
			<p style="margin:0; padding-top:5px; border-top:1px solid #dbdbdb;"><i class="fa fa-caret-right"></i> 회원님께서 작성하신 질문 중에서 핫이슈 아이템을 선정해 제품을 비교해드립니다!</p>
			<a onclick="video_on(); return false;" href="https://www.youtube.com/watch?v=NkgGXGtYdgM&feature=youtu.be&list=PLBo2dHCrZER1TPaPMG-AvvvHeyUoEMiE-" target="_blank" style="display:block; text-align:right; color:#ffcc5a; height:30px; line-height:30px; font-weight:bold;"><span style="color:#f18b33;">new!</span> 제품비교 동영상 보기 <i class="fa fa-angle-double-right"></i></a>
		</div>
	</div>
<% end %>

<div id="asks" class="table_div" style="margin:15px 0;"></div>
<div id="ask_detail" class="table_div" style="margin:15px 0; display:none;"></div>

<div class="home-float-btn-area">
	<% if current_user %>
		<a href="#" onclick="go_url('/asks/new'); return false;" style="display:block;">
	<% else %>
		<a href="#" style="display:block;" onclick="visitor_notify('질문 작성은 회원만 가능합니다'); return false;">
	<% end %>
			<div class="home-float-btn"><i class="fa fa-plus"></i></div>
			<div class="home-float-btn-text">질문<br>하기</div>
		</a>
	<div id="home-float-btn-tooltip" class="tooltip_area" style="width:140px; max-width:140px; right:120%; bottom:25%; transform:scale(1); display:none;"><div class="tooltip_arrow right"></div><div class="tooltip_content" style="color:#ffcc5a;">질문을 작성해보세요 :)</div></div>
</div>
<div id="endless_loading" style="margin:20px 0 100px; color:#9d9ea1; font-size:15px;"><i class="fa fa-spinner fa-spin"></i></div>
<div id="end_of_contents" style="display:none; margin:15px 50px 100px; color:#9d9ea1; font-size:13px;">
	<span class="seperate_line" style="background-color:#dbdbdb;"></span>
	<img src="/images/logo/logo_1.png" style="width:120px; margin:10px auto;">
	- End of contents -
</div>

<%= render :partial => "common_partial/category" %>
<%= render :partial => "common_partial/asks" %>
<%= render :partial => "common_partial/ask_image" %>
<%= render :partial => "common_partial/report_popup" %>
<%= render :partial => "common_partial/video_popup" %>
