<% if current_user %>
	<div id="user_overlay">
		<div onclick="back_button(); return false;" style="position:absolute; top:-50px; right:0; width:100%; height:50px; text-align:right; cursor:pointer;" ontouchmove="return false;"></div>
		<div style="position:absolute; top:-10px; right:28px; border-bottom:10px solid #998674; border-right:7px solid transparent; border-left:7px solid transparent;" ontouchmove="return false;"></div>
		<div id="user_overlay_title" style="margin:0; height:45px; line-height:45px; font-size:16px; font-weight:bold; color:#fff; background-color:#998674; text-align:left; border:5px solid #998674; border-bottom:none;" ontouchmove="return false;">
			<a id="user_id" href="#" onclick="user_on(); return false;" style="margin-left:12px; padding:6px 6px 3px; color:#998674; background-color:#fff; border-radius:5px;"><i class="fa fa-address-card-o"></i>&nbsp;<%= current_user.string_id %></a>
			<span id="user_path" onclick="user_on(); return false;" style="margin-left:5px; font-size:13px; font-weight:normal; color:#fff; cursor:pointer;">
				&gt;&nbsp;My Page
			</span>
			<a id="manage_on" href="#" onclick="manage_on(); return false;" style="position:absolute; right:10px; width:45px; height:45px; text-align:center; color:#fff; font-size:20px;"><i class="fa fa-gear" style="line-height:40px;  transition:transform .25s;"></i></a>
		</div>
		<div id="user_overlay_wrap" style="box-sizing:border-box; width:100%; height:100%; height:calc(100% - 50px); background-color:#f4f4f4; border:5px solid #998674; border-top:none; overflow:hidden;">
			<div id="user_overlay_seg" style="height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch;"></div>
		</div>
	</div>

	<script type="text/template" id="user_overlay_seg_template">
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 나만의 현황판
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">How is it going on..?&nbsp;<i class="fa fa-dashboard"></i></span>
			</p>
			{{ if (in_progress_count > 0) { }}
			<a href="#" onclick="{{= in_progress_count }} == 0 ? notify('진행중인 질문이 아직 없네요 T_T') : go_url('/?type=my_ask_in_progress'); return false;" class="table_div" style="display:block; width:100%; box-sizing:border-box; background-color:#4b3d3d; text-align:left; color:#fff; line-height:50px; position:relative; margin:10px 0; border-radius:5px;">
					<span class="input_icon left_input" style="width:50px; height:50px; line-height:50px; background-color:#fff; border-color:#4b3d3d; border-radius:5px; color:#4b3d3d;"><i class="fa fa-play"></i></span>
					<span style="margin-left:60px; font-size:16px; float:left;">진행중인 질문</span>
					<span style="float:right; height:50px; margin-right:15px;"><b style="font-size:20px; margin-right:2px;">{{= in_progress_count }}</b>개 <i class="fa fa-angle-double-right"></i></span>
			</a>
			<ul id="my_asks_card_box" class="bxslider" style="position:relative; width:100%; height:282px; left:0px; overflow-y:hidden; margin:0; padding:0; list-style:none;">
			{{ for (var i=0; i < my_asks.length; i++) { }}
				{{ var my_ask = my_asks[i] }}
				{{ var pos = $("#wrap").innerWidth() - 30 }}
				<li id="my_ask_card_{{=i}}" style="margin:0 10px 10px 0; width:100%; background-color:#fff; border:1px solid #998674; box-sizing: border-box; border-radius:5px; overflow:hidden;">
					{{ var total_count = my_ask.left_ask_deal.vote_count + my_ask.right_ask_deal.vote_count }}
					{{ if (total_count == 0){ }}
						{{ var left_ratio_full = 0 }}
						{{ var right_ratio_full = 0 }}
					{{ }else{ }}
						{{ var left_ratio_full = Math.round(my_ask.left_ask_deal.vote_count/total_count * 100) }}
						{{ var right_ratio_full = Math.round(my_ask.right_ask_deal.vote_count/total_count * 100) }}
					{{ } }}

					{{ var background = "#ffe4a9" }}
					{{ var left_background = "rgba(255, 228, 169, 0.7)" }}
					{{ var right_background = "rgba(255, 228, 169, 0.7)" }}
					{{ var left_font_css = "max-width:75%; font-size:12px; font-weight:normal; color:#666; text-decoration:none;" }}
					{{ var right_font_css = "max-width:75%; font-size:12px; font-weight:normal; color:#666; text-decoration:none;" }}
					{{ if (total_count < 10) { }}
					{{ } else if (left_ratio_full - right_ratio_full > 30) { }}
						{{ left_background = "rgba(255, 204, 90, 0.7)" }}
						{{ left_font_css = "max-width:85%; font-size:20px; font-weight:bold; color:#333; text-decoration:underline;" }}
					{{ } else if (right_ratio_full - left_ratio_full > 30) { }}
						{{ right_background = "rgba(255, 204, 90, 0.7)" }}
						{{ right_font_css = "max-width:85%; font-size:20px; font-weight:bold; color:#333; text-decoration:underline;" }}
					{{ } else { }}
						{{ if (left_ratio_full > right_ratio_full) { }}
							{{ left_background = "rgba(255, 204, 90, 0.7)" }}
						{{ } else { }}
							{{ right_background = "rgba(255, 204, 90, 0.7)" }}
						{{ } }}
						{{ left_font_css = "max-width:85%; font-size:20px; font-weight:bold; color:#333; text-decoration:underline;" }}
						{{ right_font_css = "max-width:85%; font-size:20px; font-weight:bold; color:#333; text-decoration:underline;" }}
					{{ } }}
					<div onclick="alram_go_url({{=my_ask.id}}); return false;" class="table_div" style="padding:10px; height:45px; color:#333; font-size:15px; margin-bottom:0; border-radius:5px 5px 0 0; cursor:pointer; overflow:hidden; background-color:#ffe4a9; background:linear-gradient(90deg, {{=left_background}} 0%, {{=left_background}} {{=left_ratio_full-5}}%, {{=right_background}} {{=100-right_ratio_full+5}}%, {{=right_background}} 100%);">
						<span style="position:absolute; top:10px; left:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; {{=left_font_css}}">{{= my_ask.left_ask_deal.title }}</span>
						<span style="position:absolute; bottom:10px; right:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; {{=right_font_css}}">{{= my_ask.right_ask_deal.title }}</span>
						{{ if (total_count >= 10 && (left_ratio_full > right_ratio_full || right_ratio_full - left_ratio_full <= 30)) { }}
							<span style="position:absolute; top:32px; left:10px; font-size:10px; color:#ee6e01; font-weight:bold;"><i class="fa fa-caret-up"></i> {{=left_ratio_full}}% win!</span>
						{{ } else { }}
							<span style="position:absolute; top:25px; left:10px; font-size:10px; color:#9d9ea1;"><i class="fa fa-caret-up"></i> {{=left_ratio_full}}%</span>
						{{ } }}
						{{ if (total_count >= 10 && (right_ratio_full > left_ratio_full || left_ratio_full - right_ratio_full <= 30)) { }}
							<span style="position:absolute; bottom:32px; right:10px; font-size:10px; color:#ee6e01; font-weight:bold;">{{=right_ratio_full}}% win! <i class="fa fa-caret-down"></i> </span>
						{{ } else { }}
							<span style="position:absolute; bottom:25px; right:10px; font-size:10px; color:#9d9ea1;">{{=right_ratio_full}}% <i class="fa fa-caret-down"></i> </span>
						{{ } }}
					</div>
					<div onclick="alram_go_url({{=my_ask.id}}); return false;" class="table_div" style="margin:0; height:25px; line-height:25px; padding:0 10px;background:ghostwhite; border:1px solid #dbdbdb; border-width:1px 0; cursor:pointer; overflow:hidden;">
						{{ if (total_count < 10) { }}
							<span style="color:#f18b33;">이제 시작합니다! <b style="font-size:10px; color:#ffcc5a;">new</b></span>
						{{ } else if (left_ratio_full - right_ratio_full > 30) { }}
							<span style="color:#9d9ea1;"><i class="fa fa-hand-o-left"></i> 제품의 완승!</span>
						{{ } else if (right_ratio_full - left_ratio_full > 30) { }}
							<span style="color:#9d9ea1;"><i class="fa fa-hand-o-right"></i> 제품의 완승!</span>
						{{ } else { }}
							<span style="color:#f18b33;"><i class="fa fa-soccer-ball-o"></i> 치열한 접전중!</span>
						{{ } }}
						<span style="float:right; color:#9d9ea1; font-size:12px;">
							<i class="fa fa-heart" style="font-size:12px; margin:0 3px;"></i><span style="display:inline-block;">{{= my_ask.like_count }}공감</span>
							<i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span style="display:inline-block;">{{= my_ask.left_ask_deal.vote_count + my_ask.right_ask_deal.vote_count }}표</span>
							<i class="fa fa-comment fa-flip-horizontal" style="font-size:13px; margin:0 3px;"></i>{{= my_ask.left_ask_deal.comment_count + my_ask.right_ask_deal.comment_count }}개
						</span>
					</div>
					<div onclick="alram_go_url({{=my_ask.id}}); return false;" class="table_div" style="margin:0; padding:10px; cursor:pointer; overflow:hidden;">
						{{ var comments = $.grep(my_ask.comments, function(obj) { return obj.is_deleted == false && obj.comment_id == null && obj.user_id != my_ask.user_id} ) }}
						{{ var l = comments.length }}
						{{ if (l > 0) { }}
						<ul style="width:100%; height:90px; margin:0; padding:0; list-style:none;">
							{{ for(var j=0; j < Math.min(3, l); j++) { }}
								{{ var comment = comments[l-j-1] }}
								{{ if (my_ask.left_ask_deal_id == comment.ask_deal_id) { }}
									<li style="font-size:13px; color:#666; line-height:30px; height:30px; overflow:hidden; text-align:left;">
										<span style="display:block;">
											<i class="fa fa-comment" style="margin-right: 3px;"></i>
											<span style="background-color:ghostwhite; padding:3px 5px 2px; border-radius:5px;">{{=comment.content.length > 20 ? comment.content.replace(new RegExp('<', 'g'), '&lt;').substring(0,20)+'&middot;&middot;&middot;' : comment.content.replace(new RegExp('<', 'g'), '&lt;')}}{{=comment.image_file_name == null ? '' : '<i class="fa fa-image" style="margin:0 5px; transform:rotateZ(10deg);"></i>'}}</span>
										</span>
									</li>
								{{ } else { }}
									<li style="font-size:13px; color:#666; line-height:30px; height:30px; overflow:hidden; text-align:right;">
										<span style="display:block;">
											<span style="background-color:ghostwhite; padding:3px 5px 2px; border-radius:5px;">{{=comment.image_file_name == null ? '' : '<i class="fa fa-image" style="margin:0 5px; transform:rotateZ(-10deg);"></i>'}}{{=comment.content.length > 20 ? comment.content.replace(new RegExp('<', 'g'), '&lt;').substring(0,20)+'&middot;&middot;&middot;' : comment.content.replace(new RegExp('<', 'g'), '&lt;')}}</span>
											<i class="fa fa-comment fa-flip-horizontal" style="margin-left: 3px;"></i>
										</span>
									</li>
								{{ } }}
							{{ } }}
						</ul>
						{{ } else { }}
							<p style="padding:0 10px; margin:0; height:90px; line-height:90px; font-size:13px; text-align:center; color:#9d9ea1;">
								아직까지는 작성된 댓글이 없네요 T_T
							</p>
						{{ } }}
					</div>
					<div id="my_ask_card_detail_{{=i}}" onclick="alram_go_url({{=my_ask.id}}); return false;" class="table_div" style="height:15px; text-align:left; padding:0 15px; margin:0 0 12px; color:#9d9ea1; font-size:12px; cursor:pointer; overflow:hidden;">
						<span style="color:#9d9ea1;"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;분석중...</span>
						<span style="float:right; color:#9d9ea1;">더 보기 <i class="fa fa-angle-double-down"></i></span>
					</div>
					<div class="table_div" style="margin-bottom:0; border-top:1px solid #f4f4f4; text-align:center; overflow:hidden;">
						<a href="#" onclick="$('#my_asks_share_{{=my_ask.id}}').css('bottom','0'); return false;" style="display:block; line-height:50px; color:#666; font-size:13px; width:50%; float:left; margin-right:-1px; border-right:1px solid #f4f4f4;"><i class="fa fa-share" style="color:#9d9ea1;"></i>&nbsp;공유하기</a>
						<a href="#" onclick="go_url('/asks/{{=my_ask.id}}/ask_complete'); return false;" style="display:block; line-height:50px; color:#666; font-size:13px; width:50%; float:left;"><i class="fa fa-paperclip" style="color:#9d9ea1;"></i>&nbsp;질문 종료하기</a>
					</div>
					<div id="my_asks_share_{{=my_ask.id}}" onclick="$(this).css('bottom','-100%');" style="position:absolute; width:100%; height:100%; bottom:-100%; text-align:center; background:rgba(0,0,0,0.7); transition:bottom 0.3s;">
						<table style="width:100%; height:100%; text-align:center; color:#fff;">
							<tr style="vertical-align:bottom;">
								<td style="width:45%;">
									<span onclick="share_facebook({{=my_ask.id}}); return false;" style="display:inline-block; width:60px; height:60px; line-height:75px; background-color:#4267b2; border-radius:10px; margin:0px; vertical-align:top; cursor:pointer;">
										<i class="fa fa-facebook" style="font-size:30px;"></i>
									</span>
								</td>
								<td style="width:10%;">
									<span onclick="share_katalk({{=my_ask.id}}); return false;" style="display:inline-block; width:60px; height:60px; line-height:70px; background-color:#fae100; border-radius:10px; margin:0px; vertical-align:top; cursor:pointer;">
										<img src="/images/logo/share_kakaotalk.png" alt="" style="width:38px; margin:13px auto 0px;">
									</span>
								</td>
								<td style="width:45%;">
									<span onclick="copy_url({{=my_ask.id}}); return false;" style="display:inline-block; width:60px; height:60px; line-height:70px; background-color:#9d9ea1; border-radius:10px; margin:0px; vertical-align:top; cursor:pointer;">
										<i class="fa fa-link" style="font-size:24px;"></i>
									</span>
								</td>
							</tr>
							<tr style="vertical-align:top;">
								<td style="padding-top:5px;"><span onclick="share_facebook({{=my_ask.id}}); return false;" style="cursor:pointer; font-weight:bold;">페이스북</span></td>
								<td style="padding-top:5px;"><span onclick="share_katalk({{=my_ask.id}}); return false;" style="cursor:pointer; font-weight:bold;">카카오톡</span></td>
								<td style="padding-top:5px;"><span onclick="copy_url({{=my_ask.id}}); return false;" style="cursor:pointer; font-weight:bold;">주소복사</span></td>
							</tr>
						</table>
						<input id="share_url_{{=my_ask.id}}" style="position:fixed; top:100%; left:100%;" value="http://vaskit.kr/asks/{{=my_ask.id}}"/>
					</div>
				</li>
			{{ } }}
			</ul>
			<div class="table_div" style="margin-bottom:0;">
				<a id="prev_card_btn" href="#" onclick="if ($(this).css('background-color') == 'rgb(219, 219, 219)') notify('첫번째 페이지입니다'); return false;" style="display:block; width:50%; height:40px; line-height:40px; text-align:center; float:left; background-color:#dbdbdb; color:#fff; border-radius:5px 0 0 5px; transition:background-color .5s;"></a>
				<a id="next_card_btn" href="#" onclick="if ($(this).css('background-color') == 'rgb(219, 219, 219)') notify('마지막 페이지입니다'); return false;" style="display:block; width:50%; height:40px; line-height:40px; text-align:center; float:right; background-color:#dbdbdb; color:#fff; border-radius:0 5px 5px 0; transition:background-color .5s; margin-left:-1px; border-left:1px solid #f4f4f4;"></a>
			</div>
			{{ } else { }}
				<a href="#" onclick="go_url('/asks/new'); return false;" style="display:block; padding:50px 10px; margin:0; font-size:13px; text-align:center; color:#666; background-color:#fff; border:1px solid #dbdbdb; border-top:none; border-radius:0 0 3px 3px;">
					아직 진행중인 질문이 없으시군요?
					<span style="display: block; color: #f18b33; font-size: 18px; padding-top: 5px;">질문 작성하기 <i class="fa fa-angle-double-right"></i></span>
				</a>
			{{ } }}
		</div>

		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 나의 활동이력
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">당신의 발자취&nbsp;<i class="fa fa-paw"></i></span>
			</p>
			<a href="#" onclick="{{= my_ask_count }} == 0 ? notify('작성하신 질문이 아직 없네요 T_T') : go_url('/?type=my_ask'); return false;" class="table_div my_history_btn" style="float:left; margin-bottom:0;">
					<span class="input_icon left_input" style="width:50px; height:50px; line-height:50px; background-color:#fff; border-color:#998674; border-radius:5px; color:#998674;"><i class="fa fa-question-circle"></i></span>
					<span style="margin-left:60px; font-size:16px; float:left; white-space:nowrap;">작성한 질문</span>
					<span style="float:right; height:50px; margin-right:15px;"><b style="font-size:20px; margin-right:2px;">{{= my_ask_count }}</b>개 <i class="fa fa-angle-double-right"></i></span>
			</a>
			<a href="#" onclick="{{= my_like_ask_count }} == 0 ? notify('공감한 질문이 아직 없네요 T_T') : go_url('/?type=my_like_ask'); return false;" class="table_div my_history_btn" style="float:right; margin-bottom:0;">
					<span class="input_icon left_input" style="width:50px; height:50px; line-height:50px; background-color:#fff; border-color:#998674; border-radius:5px; color:#998674;"><i class="fa fa-heart"></i></span>
					<span style="margin-left:60px; font-size:16px; float:left; white-space:nowrap;">공감한 질문</span>
					<span style="float:right; height:50px; margin-right:15px;"><b style="font-size:20px; margin-right:2px;">{{= my_like_ask_count }}</b>개 <i class="fa fa-angle-double-right"></i></span>
			</a>
			<a href="#" onclick="{{= my_vote_count }} == 0 ? notify('참여한 투표가 아직 없네요 T_T') : go_url('/?type=vote_ask'); return false;" class="table_div my_history_btn" style="float:left; margin-bottom:0;">
					<span class="input_icon left_input" style="width:50px; height:50px; line-height:50px; background-color:#fff; border-color:#998674; border-radius:5px; color:#998674;"><i class="fa fa-check-circle"></i></span>
					<span style="margin-left:60px; font-size:16px; float:left; white-space:nowrap;">참여한 투표</span>
					<span style="float:right; height:50px; margin-right:15px;"><b style="font-size:20px; margin-right:2px;">{{= my_vote_count }}</b>개 <i class="fa fa-angle-double-right"></i></span>
			</a>
			<a href="#" onclick="{{= my_comment_count }} == 0 ? notify('남기신 의견이 아직 없네요 T_T') : go_url('/?type=comment_ask'); return false;" class="table_div my_history_btn" style="float:right; margin-bottom:0;">
					<span class="input_icon left_input" style="width:50px; height:50px; line-height:50px; background-color:#fff; border-color:#998674; border-radius:5px; color:#998674;"><i class="fa fa-comment"></i></span>
					<span style="margin-left:60px; font-size:16px; float:left; white-space:nowrap;">제시한 의견</span>
					<span style="float:right; height:50px; margin-right:15px;"><b style="font-size:20px; margin-right:2px;">{{= my_comment_count }}</b>개 <i class="fa fa-angle-double-right"></i></span>
			</a>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px 10px 20px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 알림피드 <span id="alram_feed_count" style="font-size:13px; color:{{= alram_count > 0 ? '#ee6e01' : '#666' }}; font-weight:normal;">{{=alram_count}}개</span>
				{{ if (alram_count > 0) { }}
					<a id="all_read" href="#" onclick="all_read(); return false;" style="padding-top:2px; color:#ee6e01; font-size:13px; font-weight:normal; float:right;"><i class="fa fa-bookmark"></i>&nbsp;모두 읽음으로 표시</a>
				{{ } }}
					<span id="already_all_read" style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right; display:{{= alram_count > 0 ? 'none' : 'block'}}">다른 이들과 소통해보세요!</span>
			</p>
			<div id="alram_list" style="background-color:#fff; border:1px solid #dbdbdb; border-top:none; border-bottom:none; overflow:hidden;">
			{{ if (alrams == 0) { }}
				<p style="padding:50px; margin:0; font-size:13px; text-align:center; color:#666; background-color:#fff; border-bottom:1px solid #dbdbdb;">새로운 알림피드가 없습니다</p>
			{{ } else { }}
				{{ for(var i=0; i < alrams.length; i++) { }}
					{{ var alram = alrams[i] }}
					{{ if (alram.alram_type.match("vote_")) { }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							<i class="fa fa-check-circle-o" style="color: #666;"></i>&nbsp;회원님의 질문에 <span style="color:#998674;">{{= alram.alram_type.replace("vote_", "" )}}명</span>이 투표했습니다. 중간점검 해보세요!
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("like_ask_")) { }}
						{{ ask_like_count = alram.alram_type.replace("like_ask_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							{{ if (ask_like_count == 1) { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님이 회원님의 질문에 공감합니다.
							{{ } else { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= ask_like_count - 1 }}명</span>이 회원님의 질문에 공감합니다.
							{{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("like_comment_")) { }}
						{{ comment_like_count = alram.alram_type.replace("like_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							{{ if (comment_like_count == 1) { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님이 회원님의 의견을 좋아합니다.
							{{ } else { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= comment_like_count - 1 }}명</span>이 회원님의 의견을 좋아합니다.
							{{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("reply_comment_")) { }}
						{{ reply_comment_count = alram.alram_type.replace("reply_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							{{ if (reply_comment_count == 1) { }}
								<i class="fa fa-comments-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님이 회원님의 의견에 댓글을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-comments-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= reply_comment_count - 1 }}명</span>이 회원님의 의견에 댓글을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("reply_sub_comment_")) { }}
					  {{ reply_sub_comment_count = alram.alram_type.replace("reply_sub_comment_","") }}
					  <a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
						  {{ if (reply_sub_comment_count == 1) { }}
						    <i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님도 <span style="color:#998674;">{{=alram.comment_owner_user.string_id}}</span>님의 의견에 댓글을 남겼습니다.
						  {{ } else { }}
						    <i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= reply_sub_comment_count - 1 }}명</span>도 <span style="color:#998674;">{{=alram.comment_owner_user.string_id}}</span>님의 의견에 댓글을 남겼습니다.
						  {{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
					  </a>
					{{ } else if (alram.alram_type.match("sub_comment_")) { }}
						{{ sub_comment_count = alram.alram_type.replace("sub_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							{{ if (sub_comment_count == 1) { }}
								<i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님도 <span style="color:#998674;">{{=alram.ask_owner_user.string_id}}</span>님의 질문에 의견을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= sub_comment_count - 1 }}명</span>도 <span style="color:#998674;">{{=alram.ask_owner_user.string_id}}</span>님의 질문에 의견을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("comment_")) { }}
						{{ comment_count = alram.alram_type.replace("comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.ask_id}}, {{=alram.id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.4)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 140px 20px 10px; min-height:52px; text-align:left; transition:all .5s;">
							{{ if (comment_count == 1) { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님이 회원님의 질문에 의견을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=alram.send_user.string_id}}</span>님 외 <span style="color:#998674;">{{= comment_count - 1 }}명</span>이 회원님의 질문에 의견을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:10px; width:120px; height:60px; position:absolute; top:0; right:0; overflow:hidden; background-color:#fff; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}};">
								<img src="{{= get_image_url(alram.ask.left_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(alram.ask.right_ask_deal, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:145px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } }}
				{{ } }}
			{{ } }}
			</div>
		</div>
	</script>

	<script type="text/template" id="my_asks_detail_template">
		{{ var gender = detail.vote_gender_average == 1 ? "남성" : "여성" }}
		{{ var age = detail.vote_age_average > 30 ? "30" : "20" }}
		{{ var color = detail.vote_gender_average == 1 ? "#0389ed" : "#ea065e" }}
		<div class="table_div" style="color:{{=color}};">
			{{ if (detail.total_vote_count > 10) { }}
				{{ var random1 = ["들이 관심을 보이기 시작했어요","들이 흥미를 보이고 있네요","들이 재미있어해요","들이 클릭하기 시작했네요"] }}
				{{ var random2 = ["들의 관심이 많아요!","들이 좋아하는 분야입니다!","들이 열광하고 있어요!","들의 주된 관심사군요!","들이 공감하는군요!"] }}
				{{ var rnum1 = Math.floor(Math.random() * random1.length); }}
				{{ var rnum2 = Math.floor(Math.random() * random2.length); }}
				<i class="fa fa-heart"></i>
				<span style="font-weight:bold;">{{=age}}대</span>
				<span style="font-weight:bold;">{{=gender}}</span>{{= detail.vote_total_count < 25 ? random1[rnum1] : random2[rnum2] }}
			{{ } else { }}
				<span style="color:#9d9ea1;"><i class="fa fa-globe"></i> 아직 투표가 충분하지 않아요</span>
			{{ } }}
			<span style="float:right; color:#9d9ea1;">더 보기 <i class="fa fa-angle-double-down"></i></span>
		</div>
	</script>

	<script type="text/template" id="user_overlay_seg_manage_template">
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px 10px 0;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 계정 설정
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">웰컴! <%= current_user.email %></span>
			</p>
			<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:40px;"><i class="fa fa-id-badge"></i>&nbsp;닉네임 변경</p>
			<div class="table_div" style="margin-bottom:0px; border:1px solid #dbdbdb;">
				<input id="string_id_input" type="text" class="etc_input_box" placeholder="닉네임을 입력해주세요" value="<%= current_user.string_id %>" style="background-color:#fff; height:50px; line-height:50px;"/>
				<a id="string_id_change_btn" href="#" onclick="change_string_id(); return false;" style="position:absolute; top:0; right:0; width:50px; height:50px; line-height:50px; background-color:#dbdbdb; display:inline-block; text-align:center; color:#fff; font-size:13px;">변경</a>
			</div>
			<a href="#" onclick="window.open('/users/change_password', 'VASKIT 비밀번호 변경', 'width=500, height=450'); return false;" style="color:#666; display:inline-block; padding:0 10px; height:50px; line-height:50px; float:right;"><i class="fa fa-lock"></i>&nbsp;비밀번호 변경</a>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 알림 설정
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">...귀찮게 하지 않을게요!</span>
			</p>
			<div>
				<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:60px; font-weight:bold;"><i class="fa fa-mobile" style="font-size:20px; margin:0 3px 0 2px;"></i>&nbsp;VASKIT 푸시 알림</p>
				<p style="margin:0; color:#9d9ea1; padding:0 10px; height:30px; line-height:30px;"><i class="fa fa-caret-right"></i> 나의 질문과 관련된 사항을 알려드려요</p>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-heart-o"></i>&nbsp;좋아요 알림</span>
					<a id="alram_1_btn" href="#" onclick="toggle_alram_option('alram_1'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_1 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-check-circle-o"></i>&nbsp;득표수 알림</span>
					<a id="alram_2_btn" href="#" onclick="toggle_alram_option('alram_2'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_2 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-send-o"></i>&nbsp;새로운 의견 알림</span>
					<a id="alram_3_btn" href="#" onclick="toggle_alram_option('alram_3'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_3 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<p style="margin:0; color:#9d9ea1; padding:0 10px; height:30px; line-height:30px;"><i class="fa fa-caret-right"></i> 나의 의견과 관련된 사항을 알려드려요</p>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-heart-o"></i>&nbsp;좋아요 알림</span>
					<a id="alram_4_btn" href="#" onclick="toggle_alram_option('alram_4'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_4 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-comments-o"></i>&nbsp;답글 알림</span>
					<a id="alram_5_btn" href="#" onclick="toggle_alram_option('alram_5'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_5 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-comment-o"></i>&nbsp;다른 의견 알림</span>
					<a id="alram_6_btn" href="#" onclick="toggle_alram_option('alram_6'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.alram_6 ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
			</div>
			<div>
				<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:60px; font-weight:bold;"><i class="fa fa-envelope-o" style="font-size:15px;"></i>&nbsp;이메일 알림</p>
				<p style="margin:0; color:#9d9ea1; padding:0 10px; height:30px; line-height:30px;"><i class="fa fa-caret-right"></i> 이메일로 소식을 보내드려요</p>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-bullhorn"></i>&nbsp;주요 공지사항</span>
					<a id="receive_notice_btn" href="#" onclick="toggle_receive_notice(); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/<%= current_user.receive_notice_email ? "on" : "off" %>_btn.png" style="display:block; width:45px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; height:50px; line-height:50px; padding:0 15px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-bar-chart"></i>&nbsp;주간 리포트</span>
					<a href="#" onclick="notify('준비중이에요 T_T'); return false;" style="position:absolute; top:9px; right:10px;"><img src="/images/custom/off_btn.png" style="display:block; width:45px;"></a>
				</div>
			</div>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				<i class="fa fa-caret-down"></i> 접근 금지&nbsp;<i class="fa fa-ban"></i>
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">지...금 절 떠나려는건가요?!!</span>
			</p>
			<a data-method="delete" rel="nofollow" href="/users/sign_out" style="color:#666; display:inline-block; padding:0 10px; height:50px; line-height:50px;" data-confirm="정말로 로그아웃 하실건가요?"><i class="fa fa-sign-out"></i>&nbsp;로그아웃</a>
			<a href="#" onclick="alert('준비중입니다.\n회원탈퇴가 꼭 필요하신 경우 VASKIT 고객센터 notice@vaskit.kr로 연락 부탁드립니다.'); return false;" style="color:#9d9ea1; display:inline-block; padding:0 10px; height:50px; line-height:50px; float:right;"><i class="fa fa-plug"></i>&nbsp;회원 탈퇴</a>
		</div>
	</script>

	<script>
		<% if flash[:custom_notice] %>
			notify('<%=flash[:custom_notice]%>'.replace('\n','<br>'));
		<% end %>

		var current_user_string_id;
		var userOverlaySegTemplate = _.template($('#user_overlay_seg_template').html());
		var myAsksDetailTemplate = _.template($('#my_asks_detail_template').html());
		var userOverlaySegManageTemplate = _.template($('#user_overlay_seg_manage_template').html());

		function user_on(){
			(is_category_opened || is_search_input_opened) ? history.replaceState(null, null, null) : history.pushState(null, null, null);
			is_user_opened = true;
			overlay_st = $(window).scrollTop();

			disableScroll();
			$("#user_overlay").show();
			$("#menu_bg").show();

			$("#my_icon").addClass("fa-rotate-180");
			setTimeout(function(){
				$("#my_icon").removeClass("fa-user-circle-o").addClass("fa-remove");
			},100);

			$("#category_overlay").hide();
			$("#search_overlay").hide();
			$('#search_input').val("");
			$("#keyword_reset_btn").hide();

			$("#user_path").html("&gt;&nbsp;My Page");

			$("#manage_on").find("i").removeClass("fa-flip-horizontal");
			$("#manage_on").attr("onclick","manage_on(); return false;");
			setTimeout(function(){ $("#manage_on").find("i").addClass("fa-gear").removeClass("fa-angle-right"); },100);

			$.ajax({
		    url: "/users/get_user_data.json",
		    type: "GET",
		    data: {},
		    dataType: 'json',
				error: function(){
          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
        },
		    success: function(data){
					current_user_string_id = data.current_user_string_id;
					$("#user_id").html('<i class="fa fa-address-card-o"></i>&nbsp;'+current_user_string_id);

					var my_asks = data.my_asks_in_progress;
					for (var i=0; i<my_asks.length; i++) {
						var my_ask = my_asks[i];
						if (!asks.some(function(item, index, array){
							if (item.id == my_ask.id) { asks.splice(index, 1, my_ask); }
							return item.id == my_ask.id;
						})) {
							asks.push(my_ask);
						}
					}

					var in_progress_count = data.in_progress_count;
		      var my_ask_count = data.my_ask_count;
					var my_like_ask_count = data.my_like_ask_count;
		      var my_vote_count = data.my_vote_count;
		      var my_comment_count = data.my_comment_count;

					alram_count = data.alram_count;
					$("#new_alram_icon").html(alram_count);
					$("#alram_feed_count").html(alram_count+"개");

		      var alrams = data.alrams;

					$("#user_overlay_seg").html(userOverlaySegTemplate({
						my_asks:my_asks,
						in_progress_count:in_progress_count,
						my_ask_count:my_ask_count,
						my_like_ask_count:my_like_ask_count,
						my_vote_count:my_vote_count,
						my_comment_count:my_comment_count,
						alrams:alrams
					}));

					my_ask_card_slider = $("#my_asks_card_box").bxSlider({
						infiniteLoop: false,
						prevText: '<i class="fa fa-angle-double-left"></i> 이전',
						nextText: '다음 <i class="fa fa-angle-double-right"></i>',
						prevSelector: $("#prev_card_btn"),
						nextSelector: $("#next_card_btn"),
						onSlideBefore: function() {
							my_ask_card_slider.getCurrentSlide() == 0 ? $("#prev_card_btn").css('background-color','#dbdbdb') : $("#prev_card_btn").css('background-color','#cbcbcb');
							my_ask_card_slider.getCurrentSlide() == my_ask_card_slider.getSlideCount() - 1 ? $("#next_card_btn").css('background-color','#dbdbdb') : $("#next_card_btn").css('background-color','#cbcbcb');
						}
					});

					if (in_progress_count > 0) get_my_asks(in_progress_count);
					if (in_progress_count > 1) $("#next_card_btn").css('background-color','#cbcbcb');
		    },
		    beforeSend: function(){
					var loading = '<i class="fa fa-circle-o-notch fa-spin" style="color:#998674; line-height:200px;"></i>'
					$("#user_overlay_seg").html(loading);
		    },
		    complete: function(){
					$("#user_overlay_seg").scrollTop(0);
		    }
		  });
		}

		function get_my_asks(in_progress_count) {
			$.ajax({
		    url: "/users/get_my_asks.json",
		    type: "GET",
		    data: {},
		    dataType: 'json',
				error: function(){
          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
        },
		    success: function(data){
					var my_asks_details = data.my_asks_in_progress_detail;
					setTimeout(function(){
						for (var i=0; i<in_progress_count; i++) {
							var detail = my_asks_details[i];
							$("#my_ask_card_detail_"+i).html(myAsksDetailTemplate({
								detail:detail
							}));
						}
					}, 2000);
		    },
		    beforeSend: function(){
		    },
		    complete: function(){
		    }
		  });
		}

		function user_off(){
			is_user_opened = false;
			if (is_alram_opened && !is_card_opened) {
				card_detail_off(opened_ask_id);
				is_alram_opened = false;
			} else {
				window.scrollTo(0,overlay_st);
			}

			enableScroll();
			$("#user_overlay").fadeOut();
			$("#menu_bg").hide();

			$("#my_icon").removeClass("fa-rotate-180");
			setTimeout(function(){
				$("#my_icon").addClass("fa-user-circle-o").removeClass("fa-remove");
			},200);

			$("#user_path").html("");
			$("#user_overlay_seg").html("");
			alram_check();
		}

		function all_read(){
			$.ajax({
				url: '/alrams/all_read.json',
				type: 'PUT',
				data: {'blank':'blank'},
				error: function(){
          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
        },
				success: function(data){
					$("#alram_list a").css("background-color","#fff");
					$("#alram_feed_count").html("0개").css("color","#666");
					$("#already_all_read").show();
					$("#all_read").remove();
					$("#new_alram_icon").css("transform","scale(0)").text(alram_count);
				},
				beforeSend: function(){
					progressStart();
				},
				complete: function(){
          progressEnd();
				}
			});
		}

		function alram_go_url(ask_id, alram_id){
			var ask_href = new RegExp('\/asks\/[0-9]*$');
			if (document.location.pathname == "/" || ask_href.test(document.location.pathname)) {
				if (!is_alram_opened && !is_card_opened) {
					card_open_st = $(window).scrollTop();
				} else if ((is_alram_opened || (!is_alram_opened && is_card_opened)) && opened_ask_id == ask_id) {
					back_button();
				} else if (is_alram_opened || (!is_alram_opened && is_card_opened)) {
					card_detail_off(opened_ask_id);
					back_button();
				};
				$.ajax({
					url: '/alrams/read.json',
					type: 'PUT',
					data: {'id': alram_id, 'ask_id': ask_id},
					error: function(){
	          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
	        },
					success: function(data){
						$("#alram_"+alram_id).css("background-color","#fff");
						if (parseInt($("#alram_feed_count").html()) > 0) $("#alram_feed_count").html( parseInt($("#alram_feed_count").html()) - 1 + "개");
						user_off();
						var ask = data.ask;

						if (!asks.some(function(item, index, array){
							if (item.id == ask.id) { asks.splice(index, 1, ask); }
							return item.id == ask.id;
						})) {
							asks.push(ask);
						}

						history.replaceState(null, null, "/asks/"+ask.id);
						is_more_asks = false;
						is_card_opened = true;
						is_alram_opened = true;
						opened_ask_id = ask.id;

						$("#endless_loading").hide();
						$("#end_of_contents").hide();
						$("#movie_info").hide();
						$("#asks").hide();
						$("#ask_detail").show().html(askTemplate({ask: ask}));
						$("#ask_"+ask.id).unwrap();

						hash_tagging(ask.message, $("#ask_"+ask.id+"_message_text"));
						link_tagging(ask.message, $("#ask_"+ask.id+"_message_text"));
						hover_action(ask.id);

						$("#mini_new_comment_"+ask.id).slideUp(200);
						show_detail_vote_count(ask.id);
						$("#ask_deal_"+ask.id+"_table").slideDown(200);
						tooltip_box(ask.id);
						$("#ask_"+ask.id+"_message_more").click();
						$("#ask_"+ask.id+"_comment").html(askCommentTemplate({ask: ask}));
						for (i=0; i<ask.comments.length; i++) {
							var comment = ask.comments[i];
							link_tagging(comment.content, $('#comment_content_'+comment.id+' .comment_content'), true);
						};
						comment_input_setting(ask.id, ask.user);
						$("#ask_"+ask.id+"_detail_btn").html(askDetailBtnTemplate({ask: ask}));

						$("#search").hide();
						$("#search_dummy").hide();
						$(".home-float-btn-area").hide();

						$("html, body").animate({scrollTop:0},0,function(){
							$("#detail_vote_count_"+ask.id+", #ask_deal_"+ask.id+"_table, #ask_"+ask.id+"_comment").slideDown(500);
						});

						main_header_button();

						ga('send', 'event', '질문별/상세화면 오픈 횟수', 'detail_view_opened', ask.id.toString(), 1);
						ga('send', 'event', '유저별/상세화면 오픈 횟수', 'detail_view_per_user', current_user_id.toString(), 1);
					},
					beforeSend: function(){
					},
					complete: function(){
						if (parseInt($("#alram_feed_count").html()) == 0) {
							$("#alram_feed_count").css("color","#666");
							$("#already_all_read").show();
							$("#all_read").remove();
						}
					}
				});
			} else {
				go_url("/asks/" + ask_id);
			}
		}

		function manage_on() {
			$("#user_path").html("<span>&gt;&nbsp;My Page</span>&nbsp;&gt;&nbsp;Settings");
			// $("#manage_on").css("transform","scale(0)").css("-webkit-transform","scale(0)");
			$("#manage_on").find("i").addClass("fa-flip-horizontal");
			$("#manage_on").attr("onclick","user_on(); return false;");
			setTimeout(function(){ $("#manage_on").find("i").removeClass("fa-gear").addClass("fa-angle-right"); },100);
	    $("#user_overlay_seg").html(userOverlaySegManageTemplate());
			$("#user_overlay_seg").scrollTop(0);

			var keyPressed = [];
			$("#string_id_input").keydown(function(e) {
        keyPressed[e.keyCode] = true;
        if (keyPressed[13]) {
          e.preventDefault();
          $("#string_id_change_btn").click();
          keyPressed = [];
        }
      }).keyup(function(e) {
				if ( $("#string_id_input").val() != "" && $("#string_id_input").val() != current_user_string_id ) {
					$("#string_id_change_btn").css("background-color","#f18b33");
				} else {
					$("#string_id_change_btn").css("background-color","#9d9ea1");
				}
      });

			$("#menu_bg").show();
		}

		function change_string_id(){
			var english = /^[a-z0-9]*$/;
			var string_id = $("#string_id_input").val();
			if ( string_id == "" || string_id == null ){
				notify("빈칸입니다!");
			} else if ( string_id == current_user_string_id ) {
				notify("사용중인 닉네임을 입력하셨네요");
			} else if( !english.test(string_id) ) {
				notify("영문 소문자 및 숫자만 입력 가능합니다 T_T");
			} else {
				$.ajax({
			        url: '/users/change_nickname.json',
			        data: {"string_id": string_id} ,
			        type: 'PUT',
							error: function(){
			          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
			        },
			        success: function(data){
			        	if (data.status == "success"){
									current_user_string_id = data.new_string_id;
									$("#user_id").html('<i class="fa fa-address-card-o"></i>&nbsp;'+current_user_string_id);
									$("#string_id_change_btn").css("background-color","#9d9ea1");
			        		notify("타-다! 닉네임이 변경되었습니다!");
			        	} else {
			        		notify("이미 사용중인 닉네임이네요 T_T");
			        	}
								$("#string_id_input").blur();
			        },
			        beforeSend: function(){
								progressStart();
		          },
		          complete: function(){
	              progressEnd();
		          }
				});
			}
		}

		function toggle_receive_notice(){
			$.ajax({
		        url: '/users/toggle_receive_notice.json',
		        data: {"blank": 'blank'},
		        type: 'PUT',
						error: function(){
		          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
		        },
		        success: function(data){
		        	if (data.message == "receive"){
		        		$("#receive_notice_btn img").attr("src","/images/custom/on_btn.png");
		        		notify("이메일 수신 동의 처리되었습니다");
		        	}else{
		        		$("#receive_notice_btn img").attr("src","/images/custom/off_btn.png");
		        		notify("이메일 수신 거부 처리되었습니다");
		        	}
		        },
		        beforeSend: function(){
							progressStart();
            },
            complete: function(){
              progressEnd();
            }
			});
		}

		function toggle_alram_option(alram_option){
			$.ajax({
		        url: '/users/toggle_alram_option.json',
		        data: {"alram_option": alram_option},
		        type: 'PUT',
						error: function(){
		          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
		        },
		        success: function(data){
		        	if (data.message == "on"){
		        		$("#"+alram_option+"_btn img").attr("src","/images/custom/on_btn.png");
		        		notify("알람 수신 동의 처리되었습니다");
		        	}else{
		        		$("#"+alram_option+"_btn img").attr("src","/images/custom/off_btn.png");
		        		notify("알람 수신 거부 처리되었습니다");
		        	}
		        },
		        beforeSend: function(){
							progressStart();
            },
            complete: function(){
              progressEnd();
            }
			});
		}

	</script>
<% end %>
