<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="font-size:13px;">
    <p>
      새로운 질문이 작성되었습니다.
    </p>
    <ul>
      <li>
        질문 작성자 ID: <%= User.find(@ask.user_id).string_id %>
      </li>
      <li>
        성별: <%= User.find(@ask.user_id).gender == true ? "남성" : "여성" %>
      </li>
      <li>
        카테고리: <%= Category.find(@ask.category_id).name %>
      </li>
      <li>
        작성 내용: <%= @ask.message %>
      </li>
      <li>
        작성 일시: <%= @ask.created_at %>
      </li>
      <li>
        링크: <a href="http://vaskit.kr/asks/<%= @ask.id %>" target="_blank">Click Here</a>
      </li>
    </ul>
  </body>
</html>
