<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VASKIT Daily Report</title>
  </head>
  <body style="margin:10px; width:100%; max-width:600px; font-size:13px;">
    <img src="http://vaskit.kr/images/logo/logo_2.png" style="width:100%; max-width:600px;">
    <h1 style="color:#998674; text-align:right;">
      <%= @date %> Daily Report
    </h1>
    <a href="http://vaskit.kr/admin/analysis" style="float:right; padding:5px 10pxs; margin-top:-10px; color:#ee6e01; background-color:#ffe4a9; font-size:16px;">> 실시간 Report 보러가기</a>

    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">누적 주요 지표</h2>
    <table cellspacing="8" cellpadding="0" style="width:100%; max-width:600px;">
      <tr style="text-align:center; font-size:30px; font-weight:bold;">
        <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
          <small style="font-size:15px;">방문</small><br>
          <%= @total_visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
        </td>
        <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
          <small style="font-size:15px;">투표</small><br>
          <%= @total_vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
        </td>
        <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
          <small style="font-size:15px;">댓글</small><br>
          <%= @total_comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
        </td>
        <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
          <small style="font-size:15px;">질문</small><br>
          <%= @total_ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
        </td>
        <td style="width:20%; height:110px; background-color:#ffcc5a; color:#fff; border-radius:10px;">
          <small style="font-size:15px;">회원수</small><br>
          <%= User.where(:user_role => "user").count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %>
        </td>
      </tr>
    </table>
    <p style="margin:10px 15px; color:#666;">
      이 지표는 실제 사용자들의 누적 주요 지표입니다.<br>
      단, 방문횟수의 경우에는 2016년 7월 22일부터 집계되었습니다.
    </p>



    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10일간 일자별 지표</h2>
    <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
      <tr style="background-color:#f4f4f4;">
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">일자</th>
        <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
        <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
        <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
        <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
        <th style="border-bottom: 1px solid #dbdbdb;">DAU</th>
      </tr>
      <% @daily_recent_10.each do |d| %>
      <tr style="text-align:right;">
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= d.date %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.visit_count == 0 ? "-" : d.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.vote_count == 0 ? "-" : d.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.comment_count == 0 ? "-" : d.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= d.ask_count == 0 ? "-" : d.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.comment_like_count == 0 ? "-" : d.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.ask_like_count == 0 ? "-" : d.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= d.share_count == 0 ? "-" : d.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.signup_count == 0 ? "-" : d.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= d.DAU == 0 ? "-" : d.DAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      </tr>
      <% end %>
    </table>


    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10주간 주간별 지표</h2>
    <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
      <tr style="background-color:#f4f4f4;">
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">주차</th>
        <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
        <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
        <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
        <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
        <th style="border-bottom: 1px solid #dbdbdb;">WAU</th>
      </tr>
      <% @weekly_recent_10.each do |w| %>
      <tr style="text-align:right;">
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= w.week %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.visit_count == 0 ? "-" : w.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.vote_count == 0 ? "-" : w.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.comment_count == 0 ? "-" : w.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= w.ask_count == 0 ? "-" : w.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.comment_like_count == 0 ? "-" : w.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.ask_like_count == 0 ? "-" : w.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= w.share_count == 0 ? "-" : w.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.signup_count == 0 ? "-" : w.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= w.WAU == 0 ? "-" : w.WAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      </tr>
      <% end %>
    </table>

    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10개월간 월별 지표</h2>
    <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
      <tr style="background-color:#f4f4f4;">
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">월</th>
        <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
        <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
        <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
        <th style="border-bottom: 1px solid #dbdbdb;">신규</th>
        <th style="border-bottom: 1px solid #dbdbdb;">MAU</th>
      </tr>
      <% @monthly_recent_10.each do |m| %>
      <tr style="text-align:right;">
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= m.month %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.visit_count == 0 ? "-" : m.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.vote_count == 0 ? "-" : m.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.comment_count == 0 ? "-" : m.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= m.ask_count == 0 ? "-" : m.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.comment_like_count == 0 ? "-" : m.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.ask_like_count == 0 ? "-" : m.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= m.share_count == 0 ? "-" : m.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.signup_count == 0 ? "-" : m.signup_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= m.MAU == 0 ? "-" : m.MAU.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
      </tr>
      <% end %>
    </table>

    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">누적 방문 횟수 상위 10명 회원 리스트</h2>
    <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
      <tr style="background-color:#f4f4f4;">
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">ID</th>
        <th style="border-bottom: 1px solid #dbdbdb;">방문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
        <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">질문</th>
        <th style="border-bottom: 1px solid #dbdbdb;">좋아요</th>
        <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
        <th style="border-bottom: 1px solid #dbdbdb;">최근 접속일</th>
        <th style="border-bottom: 1px solid #dbdbdb;">가입일</th>
      </tr>
      <% @user_top_10.each do |u| %>
      <tr style="text-align:right;">
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><%= u.string_id %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= u.visit_count == 0 ? "-" : u.visit_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= u.vote_count == 0 ? "-" : u.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= u.comment_count == 0 ? "-" : u.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= u.ask_count == 0 ? "-" : u.ask_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= u.comment_like_count == 0 ? "-" : u.comment_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= u.ask_like_count == 0 ? "-" : u.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= u.share_count == 0 ? "-" : u.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= u.recent_visit %></td>
        <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= u.created_at.month %>월 <%= u.created_at.day %>일</td>
      </tr>
      <% end %>
    </table>

    <br><br>
    <h2 style="background-color:#4b3d3d; color:#fff; padding:10px 15px;">최근 10일 내 회원 작성 게시물 현황</h2>
    <table cellspacing="0" cellpadding="10" style="border:1px solid #dbdbdb; width:100%; max-width:600px;">
      <tr style="background-color:#f4f4f4;">
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">Link</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">내용</th>
        <th style="border-bottom: 1px solid #dbdbdb;">투표</th>
        <th style="border-bottom: 1px solid #dbdbdb;">댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb;">본인댓글</th>
        <th style="border-bottom: 1px solid #dbdbdb;">공감</th>
        <th style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;">공유</th>
        <th style="border-bottom: 1px solid #dbdbdb;">작성일</th>
      </tr>
      <% @asks_recent.each do |a| %>
      <tr style="text-align:right;">
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:center;"><a href="http://vaskit.kr/asks/<%=a.ask_id%>" target="_blank"><%= a.ask_id %></a></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb; text-align:left;"><%= a.message.truncate(15) %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= a.vote_count == 0 ? "-" : a.vote_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= a.comment_count == 0 ? "-" : a.comment_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= a.comment_my_count == 0 ? "-" : a.comment_my_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb;"><%= a.ask_like_count == 0 ? "-" : a.ask_like_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; border-right:1px solid #dbdbdb;"><%= a.share_count == 0 ? "-" : a.share_count.to_s.gsub(/(\d)(?=(?:\d\d\d)+(?!\d))/, '\1,') %></td>
        <td style="border-bottom: 1px solid #dbdbdb; text-align:center;"><%= a.created_at.month %>월 <%= a.created_at.day %>일</td>
      </tr>
      <% end %>
    </table>

    <br>
    <h2 style="background-color:#9d9ea1; color:#fff; padding:10px 15px; text-align:center;">END of Report</h2>
  </body>
</html>
