<%= render :partial => "common_partial/header", :locals => {:title => "로그인", :sub_title => "어디 갔었어요? 어여 이리로 들어와욘", :sub_icon => "fa-smile-o"} %>

<p class="chat_bubble">
  Welcome Back! 다시 돌아오신 것을 환영합니다.<br>
  어서 VASKIT하러 가자구요! 현기증 난단 말이에요~
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_form"}) do |f| %>
	<div class="content_box" style="padding:10px; margin:15px 12px; text-align:left;">
    <div style="position:relative;">
      <% if flash[:user_email] != nil %>
        <%= f.email_field :email, :placeholder => "가입하신 이메일주소를 입력해주세요", :class => "registrations_input", :value => flash[:user_email] %>
      <% else %>
        <%= f.email_field :email, autofocus: true, :placeholder => "가입하신 이메일주소를 입력해주세요", :class => "registrations_input" %>
      <% end %>
      <span class="input_icon left_input" onclick="$('#user_email').focus(); return false;"><i class="fa fa-envelope-o"></i></span>
      <span id="email_checker" style="position: absolute; top: 0; right: 5px; width: 20px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; color: #cbcbcb;"></span>
      <div class="tooltip_area" style="margin-left:50px;"><div class="tooltip_arrow bottom"></div><div class="tooltip_content"></div></div>
    </div>
    <div style="position:relative;">
		  <%= f.password_field :password, :placeholder => "설정하신 비밀번호를 입력해주세요", :class => "registrations_input" %>
      <span class="input_icon left_input" onclick="$('#user_password').focus(); return false;"><i class="fa fa-key"></i></span>
    </div>
		<a id="login_btn" href="#" onclick="sign_in_submit(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#9d9ea1; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px; transition:all .3s;">
			<i class="fa fa-sign-in"></i>&nbsp;로그인
		</a>
	</div>
  <a href="#" onclick="go_url('/users/password/new'); return false;" style="display:block; margin:0 25px 15px; color:#666; font-size:13px; text-align:left;"><i class='fa fa-envelope-o'></i>&nbsp;비밀번호를 잊으셨나요?</a>
	<%= f.hidden_field :remember_me, :value => 1 %>
<% end %>


<script>
  $("#my_button").hide();

  <% if flash[:custom_notice] != nil %>
    notify("<%=flash[:custom_notice]%>".replace('\n','<br>'));
    email_check();
    $("#user_password").focus().select();
  <% end %>

	$('.registrations_input').keypress(function(e) {
		if (e.keyCode == '13') {
    	e.preventDefault();
    	sign_in_submit();
  	}
	});

  function email_check() {
    var tooltip_width = $("#user_email").width();
    var tooltip_area = $("#user_email").parent().find(".tooltip_area");
    var tooltip_content = $("#user_email").parent().find(".tooltip_content");
    tooltip_area.clearQueue().removeClass("tooltip_open");
    var reg = /^[0-9a-zA-Z-_.]+@[a-z0-9]+[.][a-z]{2,3}[.]?[a-z]{0,2}$/;
    if ( $("#user_email").val() == "" ) {
      $("#email_checker").html("");
    } else if ( !reg.test($("#user_email").val()) ) {
      $("#email_checker").html("<i class='fa fa-remove' style='color: red;'></i>");
    } else {
      $.ajax({
        url: "/users/check_email.json",
        type: "GET",
        data: {'user_email_input': $('#user_email').val() },
        dataType: 'json',
        error: function(){
          return false;
        },
        success: function(data){
          if (data.is_new_email) {
            $("#email_checker").html("<i class='fa fa-exclamation-triangle' style='color: orange;'></i>");
            if ($("#user_email:focus").length == 0) email_check_tooltip();
          } else {
            $("#email_checker").html("<i class='fa fa-check' style='color: green;'></i>");
          }
        },
        beforeSend: function(){
          $("#email_checker").html("<i class='fa fa-spinner fa-spin' style='color: gray;'></i>");
        },
        complete: function(){
          ready_to_submit();
        }
      })
    }
  }

  function email_check_tooltip() {
    var tooltip_width = $("#user_email").width();
    var tooltip_area = $("#user_email").parent().find(".tooltip_area");
    var tooltip_content = $("#user_email").parent().find(".tooltip_content");
    if ( $("#email_checker i").hasClass("fa-exclamation-triangle") ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open");
      tooltip_content.text("가입되지 않은 이메일입니다");
    } else if ( $("#email_checker i").hasClass("fa-remove") ) {
      tooltip_area.css("width",tooltip_width).addClass("tooltip_open")
      tooltip_content.text("이메일 형식이 아닌 것 같습니다");
    } else {
      tooltip_area.clearQueue().removeClass("tooltip_open");
    }
  }

  function ready_to_submit() {
    if ( $("#email_checker i").hasClass("fa-check") && $("#user_password").val() != "" && $("#user_password").val().length >= 8 ) {
      $("#login_btn").css("background-color","#f18b33");
    } else {
      $("#login_btn").css("background-color","#9d9ea1");
    }
  }

  $("#user_email").attr("onkeyup","email_check(); ready_to_submit(); return false;");
  $("#user_email").attr("onblur","email_check(); email_check_tooltip(); ready_to_submit(); return false;");
  $("#user_password").attr("onkeyup","ready_to_submit(); return false;");
  $("#sign_in_form").on("change",function(){ ready_to_submit(); })

	function sign_in_submit(){
    if ($("#email_checker i").hasClass("fa-check") != true) {
      notify('가입되지 않은 이메일 주소입니다');
      $("#user_email").focus().select();
    } else if ($("#user_password").val() == ""){
      notify('비밀번호를 입력해 주세요');
      $("#user_password").focus().select();
    } else {
      $("#sign_in_form").submit();
    }
	}

</script>
